[2014-05-20 18:27] omercs opened #1 "Regex update for AuthenticationParameters"
It will be similar to node.js and ios ADAL
This is related to the Authentication Challenge. ADAL receives 401 challenge and gets authority information from the header using regex.

[2014-08-06 16:37] seolia opened #3 "IllegalArgumentException: ‘authority’ Uri should have at least one segment in the path ( issue with translation of .NET sample )"
Hi,

Translating a sample I received in .NET and trying to use the https://github.com/MSOpenTech/azure-activedirectory-library-for-java

I face a java.lang.IllegalArgumentException: ‘authority’ Uri should have at least one segment in the path (i.e. https:// ??? //…)

But the URI I received is only an host, and if I put a prefix like “https://login.windows.net/myHost” I receive a response

{“error”

[2014-09-08 19:54] #3 closed, assigned to nobody

[2014-09-14 06:26] brandwe opened #4 "Add support for OAuth Resource Owner Password Credential Grant"
This is in our roadmap but not yet prioritized.

We should also update this Stack Overflow request when complete: http://stackoverflow.com/questions/25792562/adal-java-support-for-authentication-via-user-credentials

[2014-10-28 12:43] sandermak opened #8 "ClassCastException when getting access_token with code"
I'm calling AuthorizationContext.acquireTokenByAuthorizationCode() and getting the following exception:

[code]

When applying this patch, everything seems to work. However, a UserInfoTest testcase then fails, because it assumes the claim has to be an Integer.

[code]

[2014-10-28 17:57] #4 closed, assigned to kpanwar

[2014-10-29 00:01] #8 closed, assigned to nobody

[2015-01-14 19:50] afshins opened #13 "Add "login.microsoftonline.com" to the white list of valid authorities"

[2015-02-25 19:32] kpanwar commented on #13
fixed

[2015-02-25 19:32] #13 closed

[2015-04-02 03:30] nwoolls opened #18 "AuthenticationResult.expiresOn is actually expiresIn"
Tough to say if this is truly a bug but I'd like an idea so I can either work with the current implementation of submit a PR.

The value of expiresOn is actually the number of seconds the token expires**In**. In the .NET version of the Azure AD auth code, expiresOn is the DateTime that the token will expire, calculated using the expires_in value from the response.

[2015-04-02 03:53] nwoolls commented on #18
After thinking a bit more on it, this is what I would propose:

[code]

If that concept seems sound I will submit the PR. Thanks for your consideration.

[2015-04-02 16:20] nwoolls commented on #18
FWIW I submitted a PR for this after finding this had already introduced what looks like a logic bug in the Web App sample.

[2015-04-03 08:09] brandwe commented on #18
@kpanwar to triage. @nwoolls if you can, can you link to the PR here just so we know all the threads that wrap up in to this PR? Thanks!

[2015-04-03 08:10] brandwe commented on #18
Never mind - found it - #19

[2015-05-05 20:11] psignoret opened #22 "Aquire Token with username/password (ROPC) doesn't return id_token"
`acquireToken(final String resource, final String clientId, final String username, final String password, final AuthenticationCallback callback)` does not include `scope=openid` in the Authentication Request, so no `id_token` is returned.

[2015-05-05 20:29] psignoret commented on #22
Where this all started: http://stackoverflow.com/questions/30004002/getting-username-and-group-info-from-azure-using-adal4j

[2015-05-05 21:51] psignoret opened #26 "UserInfo should expose groups when included"
When `id_token` includes `groups` claim, they should be retrievable via UserInfo.

[2015-05-06 03:13] psignoret commented on #26
After looking at other ADAL implementations, UserInfo might not be the right place to expose the groups, but still needs to be a method to access the `id_token` claims from the Authentication Response.

[2015-05-12 12:21] mtommila opened #28 "Authentication fails if password contains ampersand"
AuthenticationContext.acquireToken(String resource, String clientId, String username, String password, AuthenticationCallback callback) fails always with a 400 server response if the password contains some characters that would need to be XML escaped, e.g. '&'.

Apparently the password (and maybe the username?) are put to the SOAP body un-escaped and thus when the password contains '&' the XML is

[2015-06-23 19:08] samjamesobrien commented on #18
Just came across this issue myself, I see the fix was merged, but do you plan on doing a new release with the fix on maven?

If not I will have to include a snapshot version in our own private nexus,

Thanks

[2015-06-24 14:06] myosotys opened #35 "What is the good uniqueId"
Hello,
I have a problem with my app which use Azure for Authentication. I need to get the objectId of the user, but when i get the UserInfo, the uniqueId is the "Token_subject".
I found in code the problem in UserInfo.java:
[code]
In object claims, "object_id" is null, and the good object ID is in claims.getCustomClaim (with key "oid")

I don't know if the problem come from a bad utilisation of th

[2015-06-24 20:06] omercs commented on #35
@myosotys : This looks like a bug.
Field constant should be "oid". Adal.net uses oid: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/master/src/ADAL.Common/OAuthConstants.cs

[2015-07-03 03:46] sethulakshmipraveen opened #38 "AADSTS50034"
I am gettign this exception when trying to get the token from the application created in active directory.
java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: {"error":"invalid_grant","error_description":"AADSTS50034: To sign into this application the account must be added to the***** directory.\r\nTrace ID: 83910367-b165-4e60-b0a8-057dd760c910\r\nCorrelation

[2015-07-17 12:29] rguignard opened #40 "Adal4j 1.0.0: common-codec dependency in SNAPSHOT"
Hey

It seems that the adal4j library (http://mvnrepository.com/artifact/com.microsoft.azure/adal4j/1.0.0) imports a "common-codec" dependency in SNAPSHOT version. Is it normal ?

Best regards

Romain

[2015-07-23 17:22] omercs opened #41 "Mex parsing needs to support WS-Trust 2005"
It turns out that the default configuration for ADFS doesn't support WS-Trust 1.3 which is the latest version. Instead, it supports an earlier draft version, WS-Trust 2005. We need to look for 1.3 and if it is not present in the MEX, look for WS-Trust 2005 and use that instead.

[2015-07-30 17:25] aj-michael opened #46 "Tests failing because of expired client assertions"
Failed tests:   testAcquireToken_KeyCred(com.microsoft.aad.adal4j.AuthenticationContextTest): com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS70002: Error validating credentials. AADSTS50012: Client assertion is not within its valid time range.\r\nTrace ID: 80ad7758-a570-42f0-97b7-ae2dded006c7\r\nCorrelation ID: 986a6c2c-a596-4189-b5b5-3a1b1a9a17e2\r\nTimestamp: 2015-

[2015-07-30 17:50] aj-michael commented on #46
Oops, this one is my bad. My system clock was wrong, not the tests.

In case anyone comes across this error in the future:

[code]

[2015-07-30 17:50] #46 closed

[2015-07-31 16:50] JohnAustin-MSFT opened #47 "acquireToken overload with PromptBehavior and not UserIdentity raises nullpointerexception"
When you make the call to this overload:
public void acquireToken(Activity activity, String[] scope, String[] additionalScope, String clientId, String redirectUri, PromptBehavior prompt, AuthenticationCallback<AuthenticationResult> callback)

The AuthorizationRequest object is passed a null UserIdentity and throws a NullPointerException.

My assumption is that if the acquireToken overload does not

[2015-07-31 16:52] kpanwar commented on #47
This issue belongs to https://github.com/AzureAD/azure-activedirectory-library-for-android

[2015-07-31 16:52] #47 closed

[2015-08-02 23:46] jmspring opened #48 "aadl4j throws an NPE when encountering a 404 on an invalid URL."
Using sample code below and the following URL, the stack trace included results.  Note the double slash in the URL.  NPEs should be caught.

URL -- https://login.microsoftonline.com//618c8322-bd3e-4c3a-b1de-be5fcee2efe8/oauth2/authorize

conn.getResponseCode() is 404.

Call to conn.getErrorStream doesn't check for null.

Stack trace (using most recent git repo):

java.util.concurrent.ExecutionExce

[2015-08-12 09:59] omkarksa opened #50 "build failed with "illegal character: \65279" for AuthenticationContext.java"
Build using mvn on windows fails with error: "illegal character: \65279" for the file /src/main/java/com/microsoft/aad/adal4j/AuthenticationContext.java

Temporary Solution:
Open the file in Notepad++ and select Encoding -> Convert to UTF-8 without BOM.

Reference:
http://stackoverflow.com/questions/1726174/how-to-compile-a-java-source-file-which-is-encoded-as-utf-8
http://albert-myptc.blogspot.in

[2015-08-12 15:33] jmspring opened #51 "Create real documentation (generate the javadocs) for ADAL-java"
On the main project page -- "We provide a full suite of sample applications and documentation on GitHub to help you get started with learning the Azure Identity system. "

There are no javadocs in the the link in the above text.  Further, the examples included are basically the same as those in the azure-activedirectory-library-for-java repository.

[2015-08-12 16:32] aj-michael commented on #50
I did a little digging, and it appears this is a very new issue in this repo.

I ran `git grep $'\xEF\xBB\xBF' $(git rev-list --all)` and found that the change was introduced by this merge commit: https://github.com/AzureAD/azure-activedirectory-library-for-java/commit/057d4d22a0573eae38c992b298a29e06215f391d. Which is strange, because the dev branch that was merged in does not contain the BOM.

A

[2015-08-12 16:33] #41 closed

[2015-08-12 16:33] aj-michael commented on #50
Note, this is not a Windows issue. I also fail to build on Linux.

[2015-08-12 16:34] kpanwar commented on #50
Windows build works fine in eclipse. are you using command line or IDE?

[2015-08-12 16:40] aj-michael commented on #50
This fails on command line windows and command line linux. Eclipse must just ignore the encoding problem.

[2015-08-12 16:46] aj-michael commented on #50
You can see the BOM in eclipse by right clicking on AuthenticationContext.java and selecting Properties. Eclipse seems to be doing the "workaround" suggested by Oracle on the bug that they have declared Working as Intended. http://bugs.java.com/view_bug.do?bug_id=4508058

[2015-08-12 18:34] #50 closed

[2015-08-13 02:59] omkarksa commented on #50
I'm using command line ...

mvn clean package

-----Original Message-----
From: "Kanishk Panwar" <notifications@github.com>
Sent: ‎13-‎08-‎2015 00:46
To: "AzureAD/azure-activedirectory-library-for-java" <azure-activedirectory-library-for-java@noreply.github.com>
Cc: "omkarksa" <omkarksa@yahoo.co.uk>
Subject: Re: [azure-activedirectory-library-for-java] build failed with"illegal character: \65279"

[2015-09-02 14:04] jobinar opened #54 "Option to specify an 'SSLSocketFactory' in Azure clients"
Currently there is no way to configure Azure clients with a custom `SSLSocketFactory`. This is required for systems which communicate with different other servers (in addition to Azure) over HTTPS. There is a need to use different SSL Contexts (with different security configurations) to create SSL Socket factories to talk to these, since the validation logic is different for certain types of serve

[2015-09-11 12:36] Vartlok opened #55 "Add support Proxy in HttpHelper"
Currently there is no way to configure AuthenticationContext to use Proxy for perform HTTP request.

[2015-09-18 17:14] kpanwar commented on #55
@Vartlok - Did you get to try the approach provided in your question at http://stackoverflow.com/questions/32522773/adal-for-java-proxy ?

[2015-09-18 17:50] satheeshaGowda commented on #55
Hi Kanishk,
            Think about the scenario where  you want to  set  proxy  only to specific http/https connections , not globally  at Application  level to all http/https connections.

Thanks!
Satheesha Gowda

[2015-09-21 09:49] sourabhde opened #56 "Refresh Token fetched by this Java Library doesn't work"
The Refresh Token doesn't work when we try to authenticate with the desired service

[2015-09-23 13:20] MikeN123 commented on #18
As the PR fixing this has been merged, close the issue?

[2015-09-23 13:23] MikeN123 opened #57 "1.0.1 release"
1.0.1 seems to be 'released', but is nowhere to be found. May I suggest:

* Putting 1.0.1 on Maven Central or Bintray
* Tagging the 1.0.0 and 1.0.1 release versions in git
* Closing any issues that have been fixed
* Reworking the version numbering to a -RELEASE and -SNAPSHOT scheme, so everyone can see if something is a snapshot or a release
* Using the maven-deploy plugin to make life easier for

[2015-09-24 02:09] kpanwar commented on #57
It is not released into maven yet. We are working to get that resolved.

[2015-09-30 20:59] Korporal commented on #57
I'm frustrated too, I can't locate any 1.0.1 version and trying to use a 1.0.0 version causes breakages. As it stands the repo cannot be used because we cannot build.

[2015-10-01 10:25] vikram-gore-sp opened #59 "Executing PublicClient gives "The request body must contain the parameter- 'client_secret'"
While executing the PublicClient.java file it gives -
java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: {"error":"invalid_request","error_description":"AADSTS90014: The request body must contain the following parameter: 'client_secret.

We have correct username,password, client id ,resource.
How to solve.

[2015-10-01 11:40] kpanwar commented on #59
you are attempting to use web application credentials which require client secret. you should create a native application in your portal and use its client id.

[2015-10-01 11:41] kpanwar commented on #57
Repo builds correctly from the source. What error are you getting when running "mvn clean package" ?

[2015-10-01 20:45] Korporal commented on #57
The pom file (sample-for-adal4j) refers to version 1.0.1 of artifact adal4j in group com.microsotf.azure.
I'm no guru on Java/Maven but the dependency is being flagged by Maven as an error.

[2015-10-03 09:04] #59 closed

[2015-10-03 09:06] kpanwar commented on #57
ok, so specifically the sample is not building. We are still resolving some issues with the release. I will keep you posted on the progress. Till then you can install the local source build in your repository and use it.

[2015-10-07 17:08] narottam-singh-sp commented on #59
Hi Kanishk, thanks for the response. So do you mean that web application credentials can't be used to authenticate the Azure AD users using their username and password?

[2015-10-08 12:20] narottam-singh-sp opened #60 "Authenticating users with their userName and password using the web application"
We have created and registered an web application on Azure and can do most of the operations. But we are facing issues while implementing the authentication for users with username and password and getting below errors.
While executing the PublicClient.java file it gives -
java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: {"error":"invalid_request","error_d

[2015-10-09 19:35] RandalliLama commented on #38
@sethulakshmipraveen Are you using 'common' authority, or a specific tenant?

[2015-10-09 19:37] RandalliLama commented on #56
@sourabhde Could you provide more detail?  Exactly how are you using the refresh token?  Are you sending it to the resource service?  Are you asking ADAL to acquire a new access token via the refresh token?

[2015-10-09 19:39] RandalliLama commented on #60
@narottam-singh-sp Can you add more detail to what you are trying to do here?  What kind of app, and how are you getting the credentials?  Is this a web app?

[2015-10-09 19:45] kpanwar commented on #56
@RandalliLama Issue turned out to be in @sourabhde's code where their resource was rejecting the token because of a trailing `/` in the resource claim inside the access token.

[2015-10-09 19:45] #56 closed

[2015-10-09 19:45] kpanwar commented on #55
@Vartlok - I left some code comments. Take a look when you get a chance.

[2015-10-09 19:46] kpanwar commented on #26
raw id_token can be used to parse out the claims.

[2015-10-09 19:46] #26 closed

[2015-10-10 11:49] sagar-bhingare-sp commented on #60
@RandalliLama : Hi,
On behalf of @narottam-singh-sp ,
 We are using web app registered in the Azure AD to use Graph API. We are looking for the way to authenticate user, based on his login credentials using REST calls.

[2015-10-12 02:24] #18 closed

[2015-10-12 03:14] #55 closed

[2015-10-12 03:46] kpanwar commented on #28
Fixed.

[2015-10-12 03:46] #28 closed

[2015-10-12 03:46] kpanwar commented on #35
Fixed. Pending release.

[2015-10-12 03:46] #35 closed

[2015-10-12 03:46] kpanwar commented on #22
Fixed.

[2015-10-12 03:46] #22 closed

[2015-10-12 16:14] RandalliLama commented on #60
@sagar-bhingare-sp I was afraid of that.  There is no way for you to do what you are after, and that is by design.  We do not want applications to collect usernames or passwords.  That is a risk to the users credentials and account.  Instead, you should use the regular OAuth flow in which you redirect the user to AAD in order to get an authorization code that you can then redeem for a token.  If y

[2015-10-13 03:00] kpanwar commented on #57
just released 1.1.0

[2015-10-13 03:00] #57 closed

[2015-10-13 03:01] kpanwar commented on #51
@brandwe: can you take a look?

[2015-10-13 03:01] kpanwar commented on #48
fixed in 1.1.0

[2015-10-13 03:01] #48 closed

[2015-10-13 03:01] kpanwar commented on #40
fixed in 1.1.0

[2015-10-13 03:01] #40 closed

[2015-10-14 00:29] satheeshaGowda commented on #55
adal4j  1.1.0 (with proxy support) seems to be not working , Appears to be new library code change made to only to dynamic Instance discovery, not to calling part of token uri,  following is the way that am setting the proxy to the authentication context, please let me know if there are other means to do it, which I couldn’t find.

  ExecutorService service = Executors.newSingleThreadExecutor();

[2015-10-14 06:42] botiDev commented on #60
@RandalliLama : Hi,

I'm using Azure Active Directory to login-in to an application (Web application and/or web API) but i'm facing the same exception the guys above: "java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: {"error":"invalid_request","error_description":"AADSTS90014: The request body must contain the following parameter: 'client_secret' or 'clien

[2015-10-14 08:20] Vartlok commented on #55
Yes, It looks like I missed one place where HttoHelper is used. I'm not sure if I should reopen this issue or open a new one.

[2015-10-14 16:22] kpanwar commented on #55
Fix is pending in https://github.com/AzureAD/azure-activedirectory-library-for-java/tree/sslfactory. I will release today.

[2015-10-20 13:16] wadamczewski opened #67 "Problem with on-behalf-of scenario"
I am trying to use a JWT token that I have already obtained from an authenticated user (and passed to back-end from front-end) to use in the on-behalf-of scenario as follows:

[code]

But I keep getting an error:

As I can see in the code it is using:
requested_token_use=on_behalf_of
grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer

so at first look it should work.

I was trying to

[2015-10-23 07:02] amargehani opened #68 "AuthenticationContext fails if password contains special character ("")"
AuthenticationContext.acquireToken(String resource, String clientId, String username, String password, AuthenticationCallback callback) fails always and gives **Server returned HTTP response code: 500 for URL: https://msft.sts.microsoft.com/adfs/services/trust/2005/usernamemixed** when the user contains (double quotes "") or (single quotes '') or # in the password.
I am using Adalj 1.1.1 version .

[2015-11-06 20:26] mathewvino opened #71 "ADAL4j proxy issue for java"
Hi there,

I am trying to connect azure using adal4j1.1 library for java.But i have to connect through the proxy.Following is the snippet of code

String url = "https://login.microsoftonline.com/tenant_id/oauth2/authorize";
            authContext = new AuthenticationContext(url,false,
                                                    service);
   Proxy proxy = new Proxy(Proxy.Type.HTTP, new Ine

[2015-11-06 21:09] RandalliLama commented on #71
@mathewvino Do you have an issue when ADAL is not involved.  i.e. can you reach other internet endpoints through the proxy outside of ADAL?

[2015-11-06 23:44] mathewvino commented on #71
Yes I can if i use the HTTPConnection call I am getting the output.

Please find the code snippet

import java.io.DataInputStream;
import java.net.HttpURLConnection;
import java.net.InetSocketAddress;
import java.net.Proxy;
import java.net.URL;

public class Proxy5 {

	public static void main(String[] args) {
		try {
		    DataInputStream di = null;
	       byte [] b = new byte[1];
		   Proxy prox

[2015-11-07 00:41] RandalliLama commented on #71
@mathewvino Does it make a difference that the port you specify in your code snippet at the top of this issue is port 443, which fails, but the port you put in your last snippet is port 80?

[2015-11-07 00:55] mathewvino commented on #71
Nope i have tried with 80 and then change it to 443. The exception throwing is Connection time out

the error is.....java.net.ConnectException: Connection timed out: connect
java.util.concurrent.ExecutionException: java.net.ConnectException: Connection timed out: connect
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(FutureTask.java:188)
	at

[2015-11-09 20:46] brandwe commented on #71
Is there any way you can run a Fiddler or Charles trace so we can see the actual responses back and forth? I have a feeling your proxy and our setProxy() aren't playing nice together. Knowing where in the hop it stops is always helpful. You can send the log to our email thread if it's sensitive.

[2015-11-11 05:04] mathewvino commented on #71
I am using windows machine and running java within eclipse.just download the fiddler and do the exact steps mentioned in http://dharampal.in/2013/07/03/capture-https-traffic-from-java-applications-with-fiddler/
1) export the certifcate
2) run the key tool
3) In eclipse for that java programme  set the following as VM arguments
 -DproxySet=true
-DproxyHost=127.0.0.1
-DproxyPort=8888
-Djavax.net.ssl

[2015-11-19 00:05] jshanaiah opened #72 "Getting "Cannot inherit from final class" error while accessing library"
I am trying to communicate with REST API using ADAL. getting below error

Exception in thread "main" java.lang.VerifyError: Cannot inherit from final class
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineClass(URLClassLoader

[2015-12-10 00:34] jianghaolu opened #74 "Maven GroupId does not match package names"
Hi,

I see from this commit: https://github.com/AzureAD/azure-activedirectory-library-for-java/commit/e083290365a8b6e1ef6534cbfdfe162d768c3fc2 that group id was changed to com.microsoft.azure but the package names were left unchanged. This is uncommon and makes it hard to discover.

Also, it collides with the package names in ADAL for android. This is making it really hard for a cross-platform lib

[2015-12-10 01:14] jianghaolu commented on #74
@martinsawicki

[2015-12-17 21:51] metal-hed commented on #38
@RandalliLama I know this is an old issue, but I am having similar issues using the library. I am using a specific tenant authority to access the token URL. The same user with the same credentials is able to login to Sharepoint via their browser so I am able to rule that out as a suspect. The same code has worked for other users in the tenant domain but a few are seeing the issue above.

Is there

[2016-01-04 20:40] RandalliLama commented on #38
Could you provide an updated error message with Correlation ID and timestamp.  @kpanwar Do we have good logging in the Java ADAL?  Would it be worth collecting those?

[2016-01-04 21:56] metal-hed commented on #38
@RandalliLama In my case the issue is solved. It turns out the user was using just their login id to try and authenticate. Once the user used their full email address everything worked as expected.

ex. user@company.com worked fine but the user was trying to login with 'user'

[2016-01-04 22:21] RandalliLama commented on #38
@metal-hed Great.  Glad you're unblocked.  Thanks for the update.

[2016-03-18 18:55] raoofm opened #78 "No option to set the connection params"
Currently there is no option to set the connection params, like number of connections, read timeout, connect timeout, etc

[2016-04-07 20:58] moezubair opened #79 "How do I run the java webapp sample, Get an error saying "No main class""
Hey
I am trying to run the sample java web app
when I run the war file I get :

[code]

when I run it as

[code]

I get :

[code]

[2016-04-20 23:03] kpanwar commented on #54
Fixed in last release

[2016-04-20 23:03] #54 closed

[2016-04-20 23:03] #38 closed

[2016-04-20 23:07] kpanwar commented on #72
Use 3.1.2 for  nimbus-jose-jwt

[2016-04-20 23:22] kpanwar opened #82 "Update AAD whitelist to include US Govt. cloud and Black Forest"
Update AAD whitelist to include US Govt. cloud and Black Forest

[2016-05-11 19:38] mathewvino opened #87 "adal4j compatible with jdk1.6 version"
Is there any version of adal4j compatible with jDK1.6 available. I was trying to run some junit test case using adal4j with jdk1.6  getting the following error

Caused by: java.lang.UnsupportedClassVersionError: com/nimbusds/jose/Algorithm : Unsupported major.minor version 51.0

Really appreciate
Vinoj

[2016-05-15 09:47] AmaniSalah opened #88 "ClassCastException when I build"
I'm getting this error when I build, any idea why?

2218 [pool-1-thread-1] ERROR com.microsoft.aad.adal4j.AuthenticationContext - [Correlation ID: ac256c7c-b9ae-41ff-b39c-f0746a2275f7] Request to acquire token failed.
java.lang.ClassCastException: sun.net.www.protocol.https.HttpsURLConnectionImpl cannot be cast to javax.net.ssl.HttpsURLConnection
    at com.microsoft.aad.adal4j.HttpHelper.openConn

[2016-06-08 03:56] armharish opened #91 "java.lang.NoClassDefFoundError: com/nimbusds/jwt/JWT"
Hi,

I am getting below error while trying to execute source. I am just trying to get auth toekn and refresh token.

user id : <myuser id> Password: <my password> Exception in thread "main" java.lang.NoClassDefFoundError: com/nimbusds/jwt/JWT
	at com.cts.azure.AzureAuthToekn.getAccessTokenFromUserCredentials(AzureAuthToekn.java:48)
	at com.cts.azure.AzureAuthToekn.main(AzureAuthToekn.java:33)
Caus

[2016-06-08 04:21] kpanwar commented on #91
I don't see ADAL being referred anywhere here. Have you referenced ADAL correctly in you pom.xml? If so then maven should pull all the dependencies.

[2016-06-08 14:32] armharish commented on #91
You are right - It resolved after fixing POM. Thank you.

[2016-06-08 18:15] #91 closed

[2016-06-08 22:22] gursev opened #92 "XXE vulnerability in WSTrustResponse.java"
There is an XXE bug in WSTrustResponse's parse method. Please see below.

    static WSTrustResponse parse(String response, WSTrustVersion version)
            throws Exception {
        WSTrustResponse responseValue = new WSTrustResponse();
        DocumentBuilderFactory builderFactory = DocumentBuilderFactory
                .newInstance();
        builderFactory.setNamespaceAware(true);

[2016-06-09 20:45] gursev opened #93 "XXE vulnerability in MexParser"
static BindingPolicy getWsTrustEndpointFromMexResponse(String mexResponse)
            throws Exception {
        DocumentBuilderFactory builderFactory = DocumentBuilderFactory
                .newInstance();
        builderFactory.setNamespaceAware(true);
        DocumentBuilder builder = builderFactory.newDocumentBuilder();
        Document xmlDocument = builder.parse(new ByteArrayInputStream(

[2016-06-09 20:50] gursev commented on #93
@brandwe Fyi. Can you please label it as a security bug?

[2016-06-09 20:50] gursev commented on #92
@brandwe Fyi. Can you please label it as a security bug?

[2016-06-09 20:51] brandwe commented on #93
@gursev Done.

[2016-06-09 20:52] brandwe commented on #92
@gursev Done

[2016-06-09 21:12] gursev commented on #93
@brandwe Thank you so much.

[2016-06-09 21:12] gursev commented on #92
@brandwe Thank you so much.

[2016-06-10 07:45] kpanwar commented on #93
Fixed in 1.1.3.

[2016-06-10 07:45] #93 closed

[2016-06-10 07:45] kpanwar commented on #92
Fixed in 1.1.3

[2016-06-10 07:45] #92 closed

[2016-06-10 07:56] kpanwar commented on #87
Minimum supported is 1.7 due to security fixes.

[2016-06-10 07:56] #87 closed

[2016-06-10 07:57] kpanwar commented on #74
We will fix this in the next major version to avoid breaking changes.

[2016-06-10 07:58] #71 closed

[2016-06-10 07:59] #72 closed

[2016-06-10 07:59] #60 closed

[2016-06-10 08:00] #82 closed

[2016-06-10 08:01] kpanwar commented on #88
what is your Sun JDK version?

[2016-06-10 16:52] gursev commented on #92
@brandwe @kpanwar Thank you so much for the quick fixes and pushing to Maven 👍

[2016-06-28 20:51] patrickjamesbarry opened #96 "not supported for this API version"
We are getting this error when trying to authenticate with a valid user.

Exception in thread "main" java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS70001: Application 'a2333e4-1eaf-4b66-rr04-ed825e0dxxx' is not supported for this API version.\r\nTrace ID: e37d4bda-3db7-4dd1-b690-5d127b1a5ss5\r\nCorrelation ID: 4de96623-6669-4a

[2016-07-06 17:01] RandalliLama opened #98 "Add API that allows apps to report app name and version for telemetry."
It would be helpful to be able to identify which apps have which version of ADAL so that we can identify apps that should be updated.

Do not implement this until we have agreement on the shape of the public API changes.

[2016-07-14 14:51] tossb commented on #96
@patrickjamesbarry
I encountered this as well using a B2C tenant.  I believe the issue has to do with the getRedirectUrl method in basic filter not have the v2.0 in the URI.  Hope that helps.  I get another error down the path while attempting to get the access token.

[2016-09-01 12:28] yogeshronly4u opened #101 "certificate based authentication error : invalid JWT token"
I am using adal4j v1.1.2 to get token based on client certificate.

Snippet referred: Why does AcquireToken with ClientCredential fail with invalid_client (ACS50012)?

String AAD_HOST_NAME = "login.windows.net";
String AAD_TENANT_ID = "XXX";
String AAD_TENANT_ENDPOINT = "https://" + AAD_HOST_NAME + "/" + AAD_TENANT_ID + "/";
String AAD_CLIENT_ID = "XXX";
String AAD_RESOURCE_ID = "https://vault.azu

[2016-09-08 14:01] puntogil opened #102 "azure-activedirectory-library-for-java don't include the license file"
Hi
Not available LICENSE file in source directory structure
Please. Added license and copyright notice.
the fedora pakaging guideline is very strictly precise about this problem
https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Text
Thanks in advance
Regards

[2016-09-18 11:06] fundamentalsguy commented on #101
Try using Tenant end point as https://login.microsoftonline.com/common/
Also does your resource need to be something other than vault.azure.net ? The client id (to which your certificate is associated in azure) must be granted access on the target resource.

An example below where I receive token for a shareoint site -
final static String AUTHORITY = "https://login.microsoftonline.com/common/";
fi

[2016-10-31 01:36] sballarati opened #104 "Validate token Signature"
Hi guys, hope you're well.

Are you planning to add JWT signature validation to this library? If that's the case, could you share the estimated release date?

There are good open source libraries to do it but we'd also need to get the AAD public keys periodically, etc... It will be very nice to have it available here 👍

Thank you,
Seba

[2016-10-31 03:00] gaelh commented on #104
I am out of the office until 02/11/2016.

En cas de souci sur une application, merci de contacter l'Equipe Support
Abakus : support@abakus.fr

Note: This is an automated response to your message
"[AzureAD/azure-activedirectory-library-for-java] Validate token Signature
(#104)" sent on 31/10/2016 02:36:54.

This is the only notification you will receive while this person is away.

-----------------

[2016-11-02 18:39] devszr opened #105 "Interactive Authentication for AAD native applications"
How does one go about presenting a consent dialog top the user in native interactive applications ? When using the .NET SDK, a browser window is automatically popped up asking for consent from the user of a new application. How do you get that to work when using ADAL4J ? I see that there is an issue and some commits here https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/73, bu

[2016-11-02 21:17] devszr commented on #105
Well, I was able to perform an out of band consent using the Oauth2 flow described at
[https://azure.microsoft.com/en-us/documentation/articles/active-directory-protocols-oauth-code/]
Not sure if this the best way to do it though. Any best practices would be good information.

`https://login.microsoftonline.com/{tenant-id}/oauth2/authorize?client_id={client_id}&prompt=login&redirect_uri={redirect_

[2016-11-08 09:17] umapriyadarsi opened #106 "Multi Factor Authentication"
I am not sure, if this is the best way to bring this issue up. For lack of a better forum, I am compelled to do so.

Does the ADAL4J support multi factor authentication? If so, how is this being done? The OAuth doc for Azure Graph Rest API does not talk at all about MFA :
https://azure.microsoft.com/en-us/documentation/articles/active-directory-protocols-oauth-code/

Please help.

[2016-11-08 10:05] psignoret commented on #106
If you are building a web application, then the fact that you are using ADAL4J is entirely irrelevant. During the authorization request, the user's browser will be directed to Azure AD. At that point the user will authenticate. This authentication may involve doing multi-factor authentication, which happens normally. After the user is authenticated, the user's browser will be redirected back to yo

[2016-11-09 10:34] umapriyadarsi commented on #106
We could use the web browser as our client. But the the thing is, we do not have a single cloud application to point the redirect_uri at.

Our application will be deployed in multiple instances.

So, for Azure ADs which have multi factor authentication, as far as I understand:
1. either we have to create a new azure ad app for every instance of our product, or
2. we will have to keep adding a new

[2016-11-11 12:05] ranganathg commented on #67
There are some pre-reqs for using Graph Apis in an app - https://msdn.microsoft.com/en-us/library/azure/hh974476.aspx#Anchor_2

[2016-12-09 15:36] patrick1502 opened #108 "acquire token with policy identifier"
I try to push some data to a cloud using a adal4j token but I didn't get acces because of the policy identifier.
An existing app uses  an old adal Android library. It uses a policy identifier String using the adal

[code]

This method isn't supported with the same params in adal4j. So how can I set a policy to the token acquisition with the adal4j library?

I hope someone can help me.

[2017-01-11 10:11] epot opened #110 "Fails to create a AsymmetricKeyCredential from a windows store certificate"
I am trying to use the following method "public static AsymmetricKeyCredential create(final String clientId, final PrivateKey key, final X509Certificate publicCertificate)" from a pfx certificate I installed manually in my Windows Store certificate.
For that purpose, I am getting the certificate using the "SunMSCAPI" and the java.security.KeyStore package. However, I end up with the following exce

[2017-01-12 07:51] epot commented on #110
Here is a small reproducer.
In a WindowsStoreCertificateCredentials.java file:

`package awesome.keyvaulttest;

import java.security.KeyStore;
import java.security.PrivateKey;
import java.security.cert.Certificate;
import java.security.cert.X509Certificate;
import java.util.Enumeration;

import com.microsoft.aad.adal4j.AsymmetricKeyCredential;
import com.microsoft.aad.adal4j.AuthenticationContext;

[2017-01-12 08:43] epot commented on #110
To give some details, it seems the AsymmetricKeyCredential  constructor is doing an unsafe cast, and in my case it is not easy to work around it since the object I am actually passing is private (sun.security.mscapi.RSAPrivateKey).

[2017-01-18 11:38] Nisha2015 opened #112 "Missing API call for acquireTokenUsingRefreshToken(string clientId, string resource) from Java ADAL"
We have a Java Web Service and we need to protect it via AAD.

We are trying to have Web API receive an access token from a native app, and then the API would be executing On-Behalf-Of flow to get access tokens for another resource. https://docs.microsoft.com/en-us/azure/active-directory/active-directory-authentication-scenarios#daemon-or-server-application-to-web-api

However since we don't have

[2017-01-18 13:44] kpanwar opened #113 "WS-Trust does not work against sovereign clouds e.g. - BlackForest"
WS-Trust does not work against sovereign clouds e.g. - BlackForest because appliesTo address urn is hardcoded to PROD. It should be consumed as a value of cloud_audience_urn returned via user realm response.

[2017-01-18 13:49] #67 closed

[2017-01-18 13:49] kpanwar commented on #102
We will add MIT license file

[2017-01-18 13:50] kpanwar commented on #78
This is by design. You can control the number of connections by controlling the threadpool size.

[2017-01-18 13:50] #78 closed

[2017-01-18 13:53] kpanwar opened #114 "Update the sample apps to demonstrate on behalf of flow"
Samples contain public and confidential client flows and we should update them to demonstrate OBO flows. This requires public client to get a token for confidential client, calling some API on confidential client that consumes the access token via Authorization header and then the confidential client calls AAD to get user token for graph.

[2017-01-18 13:55] kpanwar opened #115 "Create UserAssertion class for OBO flows"
Currently java code incorrectly uses ClientAssertion class to provide user assertion for OBO. We need to introduce UserAssertion class just like in .NET and update the API surface.

[2017-01-18 13:56] #96 closed

[2017-01-18 13:58] kpanwar commented on #104
There is no plan to release a JWT validation library for java. Consider using other open source libraries already in heavy use.

[2017-01-18 13:58] #104 closed

[2017-01-18 13:59] kpanwar commented on #74
We will update the source code package to com.microsoft.azure

[2017-01-18 13:59] kpanwar opened #116 "Update source file headers to MIT license"
Update source file headers to MIT license

[2017-01-18 14:05] #88 closed

[2017-01-18 14:05] #79 closed

[2017-01-18 14:06] kpanwar commented on #105
there is no support for interactive auth in adal4j.

[2017-01-18 14:06] #105 closed

[2017-01-18 14:07] kpanwar commented on #108
B2C flow is not supported in this library.

[2017-01-18 14:07] #108 closed

[2017-01-18 14:08] kpanwar commented on #101
@yogeshronly4u - I was unable to repro your issue. Were you able to resolve it?

[2017-01-18 17:14] sballarati commented on #104
Ok, thanks for the heads up. Here's one that worked for us, **jose4j** https://bitbucket.org/b_c/jose4j/wiki/Home

Thanks,
Seba

[2017-01-19 20:34] raoofm commented on #78
@kpanwar how about the timeouts?

[2017-01-23 13:14] csikosbalint opened #117 "Id Token is not signed"
I am using this library sample (PublicClient.java) with Native application client_id. When I call .getIdToken() on the result object I receive an ID token without signature. Why is it not signed?

[2017-01-25 08:53] epot commented on #110
Ping ?

[2017-01-25 19:18] jianghaolu commented on #112
I dug around a little bit and found out that this was added in https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/17 but the changes got lost when `dev` branch was merged into `master`.

[2017-01-25 19:41] jianghaolu commented on #112
Created a PR: https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/119. Owners of the project, please let me know if there's anything is missing.

[2017-01-26 05:29] kpanwar commented on #110
This change will not cause a breaking change to the API, but it should fail the signing as the API below we use for signing requires RSAPrivateKey.
http://static.javadoc.io/com.nimbusds/nimbus-jose-jwt/2.21/com/nimbusds/jose/crypto/RSASSASigner.html

Changing the surface would result in an exception at a later point in the source code.

[2017-01-26 20:05] raoofm commented on #78
@kpanwar ?

[2017-01-27 00:35] SomkaPe commented on #110
That link is pointing to 2.21 version,
we uses com.nimbusds.nimbus-jose-jwt [4.16,)  - dependency of com.nimbusds.oauth2-oidc-sdk.5.8.1

it has  (PrivateKey privateKey) constructor :

https://bitbucket.org/connect2id/nimbus-jose-jwt/src/c17067f1b75dbd6d112c4462daedbec19b948ea7/src/main/java/com/nimbusds/jose/crypto/RSASSASigner.java?at=4.34.1&fileviewer=file-view-default

[2017-01-30 12:14] adarshrhegde opened #120 "Authenticate guest users invited into Azure AD"
I am trying to authenticate users in my web application using Azure AD to store user records. For authenticating the user I am using the AuthenticationContext.acquireToken() method to acquire the token. This is working for local users in my directory but not for guest users invited to the directory.

While authenticating guest users I am getting an error : "To sign into this application the accoun

[2017-02-02 21:16] SomkaPe commented on #68
We do escape user credentials, So special characters should not be an issue.
I suspect that the reason of mentioned exception was wrong password, anyway it is hard to say because we did not log error details.
I have added logging of non-200 http responses:
https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/121

[2017-02-02 23:36] psignoret commented on #120
Can you provide more details on which method overload for `acquireToken()` you're using? (I.e. what parameters are you passing in?)

[2017-02-03 03:49] adarsh2570 commented on #120
The method overload for acquireToken() being used is :
 public Future<AuthenticationResult> acquireToken(final String resource,
                                                     final String clientId, final String username,
                                                     final String password, final AuthenticationCallback callback)

This is my code that does the job of authentication:

 pr

[2017-02-03 18:56] SomkaPe opened #122 "log details about non 200 http responses"

[2017-02-03 18:58] SomkaPe opened #123 "adding support for RSA keys produced by SunMSCAPI provider"
sun has its own key provider

[2017-02-03 19:13] brentschmaltz commented on #117
@csikosbalint who is creating the token?

[2017-02-03 23:19] SomkaPe commented on #101
Did not manage to reproduce,
cert based access might not be configured correctly for  test application,
Please have a look at https://blogs.msdn.microsoft.com/exchangedev/2015/01/21/building-daemon-or-service-apps-with-office-365-mail-calendar-and-contacts-apis-oauth2-client-credential-flow/

[2017-02-03 23:19] #101 closed

[2017-02-06 16:44] brentschmaltz commented on #123
https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/118

[2017-02-06 16:44] #123 closed

[2017-02-06 16:44] brentschmaltz commented on #122
https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/121

[2017-02-06 16:44] #122 closed

[2017-02-06 17:52] brentschmaltz commented on #106
@umapriyadarsi MFA is opaque to ADAL4J.  The IdentityProvider (in this case AzureAD) controls the way authentication is satisfied. Do the different tenants have different MFA requirements?

[2017-02-06 17:53] brentschmaltz commented on #102
dup of: https://github.com/AzureAD/azure-activedirectory-library-for-java/issues/116

[2017-02-06 17:53] #102 closed

[2017-02-06 17:55] brentschmaltz commented on #68
@amargehani if this fix does not help you please reopen this issue.

[2017-02-06 17:55] #68 closed

[2017-02-06 17:57] brentschmaltz commented on #51
@SomkaPe what do we need to do here?

[2017-02-06 17:58] brentschmaltz commented on #1
way too old to reason about

[2017-02-06 17:58] #1 closed

[2017-02-06 18:40] kpanwar commented on #117
ID Token is only used for metadata in ADAL. ID Token meant for the client application and ADAL does not support token validation because ADAL is an authentication library and not token validation library. Think of it as a conduit between the client application and resource. It would be poor security practice to consume a signed token but not validate it.

[2017-02-06 19:32] brentschmaltz commented on #117
@kpanwar where does the token come from?

[2017-02-06 19:34] psignoret commented on #117
To add to the response from @kpanwar, a couple things to keep in mind:

* In that sample, the ID Token is obtained through direct communication between the client (the native client app using ADAL) and the Token Endpoint (Azure AD), so the integrity of the ID Token is inherited from the channel's TLS (i.e. the fact that ADAL uses HTTPS to communicate with Azure AD to obtain the token).
* The ID To

[2017-02-06 19:35] psignoret commented on #117
@brentschmaltz Token is coming from Azure AD. Azure AD does not sign ID Tokens issued to public clients via Resource Owner Password Credentials grant flow (even if `scope=openid` is used in the token request).

[2017-02-06 22:48] nwarriorch commented on #105
Is there a plan to add interactive login support in adal4j any time soon ?

[2017-02-07 15:59] matiman opened #125 "Add support for V2 of Micosoft Azure API"
Currently adal4j only works for v1 in order to retrieve auth code and token but that doesn't work for v2.

[2017-02-07 21:46] brentschmaltz commented on #117
@psignoret thanks for the explanation. From what I read, the ROPC grant returns an access_token. Is that what AAD does? Is there any POP between the user of the token and the resource provider?

[2017-02-08 01:40] zhangzhang commented on #120
I got the same issue, I was trying the PublicClient example, I changed the URL and the client Id, after I input my username/password, I got a NullPointerException.
When I trace down to the code, I found the policy is read from an XML in URL:https://nexus.passport.com/FederationMetadata/2007-06/FederationMetadata.xml
But in this XML, there is no policies section, so the I got an error message says:

[2017-02-08 04:53] adarsh2570 commented on #120
I found out that authentication for guest users will only work if these users have been invited from some other Azure AD tenant. In my case I am able to authenticate the users invited from other tenants but the same is not working for my gmail account which is not a part of any Azure AD tenant.

That means there are 2 types of guest users : i) imported from another tenant ii) not present in any te

[2017-02-08 18:23] zhangzhang commented on #120
Thank you for the comment, adarsh2570, I'm still having that issue, the user I'm using is the Global Administrator of the Azure AD, and I created another user, both of them are not working. I don't know how to import an user from another tenant, I have only one tenant.

[2017-02-08 20:47] zhangzhang commented on #120
followed the comment from adarsh2570, I found out that Azure AD supports two types of users, one is called Microsoft Account, another is Microsoft Azure Active Directory, the example code PublicClient only works with the Microsoft Azure Active Directory account, this type of account normally has a suffix of your domain.

[2017-02-09 01:16] psignoret commented on #117
@brentschmaltz In ROPC, Azure AD returns a signed Access Token (AT) for the specified resource, a Refresh Token (RT), and an unsigned ID Token.

PoP of what, in your question? That the user presenting the AT is the same user to whom the AT was originally granted? There's nothing binding the AT to the user or the client, if that's what you mean. If the AT we misplaced, stolen or intercepted, it cou

[2017-02-09 05:15] adarsh2570 commented on #120
zhangzhang you are right. Only thing that I would like to correct is the Microsoft Azure Active Directory account need not specifically have the suffix of your domain only. If the account belongs to some other Microsoft Azure Active Directory and you have invited it to your directory then it will have a different suffix.

Regarding your earlier comment on importing users from another tenant, you c

[2017-02-09 16:17] brentschmaltz commented on #117
@psignoret  OK, this is the id_token that arrives with the AT. That answers my original question - where did the id_token come from.
The id_token is simply info for the client and is never used to communicate with any other service.

[2017-02-09 16:17] #117 closed

[2017-02-09 18:12] zhangzhang commented on #120
Thank you adarsh2570.

[2017-02-13 16:44] kgidewall opened #127 "Expand Resiliency Error Codes"
We currently invoke resiliency mode when the following conditions occur: network timeout or http error codes 500, 503, 504. After discussion, we have decided to expand the error code list to include ALL http error codes 500 - 599. Please change your logic to include all of those codes for Resiliency.

[2017-02-27 18:34] csikosbalint commented on #117
Does this mean that I should open an issue for signed id_tokens (with WebApp client_id)?

[2017-03-07 23:45] kriede commented on #125
I do very much appreciate having this Issue implemented.

[2017-03-08 23:42] rayluo opened #130 "Add one more trusted authority host login.microsoftonline.us"
A new trusted authority host `login.microsoftonline.us` has been deployed, and we need to add it into our code base.

[2017-03-12 07:29] kpanwar commented on #105
Not at the moment.

[2017-03-21 12:54] coyote1980 opened #131 "Tenant ID stays null - could (should?) be retrieved from Claims map"
Hi,

I started using the ADAL4J library and have some issues I would like to share / discuss.

1) I cannot make use of the Tenant ID a user originates from. This could easily be solved by using the constant AuthenticationConstants.ID_TOKEN_TENANTID in UserInfo to set a (not yet existing) variable "tenantID" (including getter/setter).

2) I have looped through the keys in the AuthenticationResult,

[2017-03-22 08:14] coyote1980 commented on #125
I would like to raise my hand, having V2 implemented would be highly appreciated!

[2017-03-22 09:05] coyote1980 commented on #131
I will close the issue, apparently it was caused by using "common" as the tenant. Using a specific tenant ID.

[2017-03-22 09:05] #131 closed

[2017-03-27 16:20] stfkbf opened #134 "Allow the Http Handler to be specified"
Apologies if this has been considered already.

When using this library to authenticate inside a Weblogic server, it will fail due to URL.openConnection not returning a HttpsURLConnection. The work around is to set:

-DUseSunHttpHandler=true

Alternatively when creating URL obejcts (which is done only a few places in the adal4j code), they could be created as follows:

new URL(null, this.getAuthor

[2017-03-31 12:59] aybkira commented on #134
Hi ,

I Have a same problem  , can you tell me if you have find the solution ?

[2017-04-01 07:17] stfkbf commented on #134
Hello,

One option is to set -DUseSunHttpHandler=true when starting the app server. This changes the behaviour for the entire app server or cluster (may not be desirable if you have several applications running). Alternatively there are about four or five places in the code in the HttpHelper and AuthenticationConext classes where URLs are created. These can be changed to create the URL as follows:

[2017-04-04 21:04] seetharamireddy540 opened #136 "Unable to get the access token using user name and password -"
Hi ,

I have been using the adl4j library to get the access token using user name and password. It was working on-until few weeks back and now it was broken.

I am getting an error as "client secret / client association " is required. I have also tried with lastest released jar which is  1.2.0 version and same error.

		<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>adal4j</

[2017-04-04 22:31] seetharamireddy540 commented on #136
Here is the log trace

com.microsoft.aad.adal4j.AuthenticationException: com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS70002: The request body must contain the following parameter: 'client_secret or client_assertion'.\r\nTrace ID: 708fffa5-eaeb-4722-98e1-ce75c9020d00\r\nCorrelation ID: 888b629b-136b-43b8-9403-90bd308db815\r\nTimestamp: 2017-04-04 22:30:41Z","error":

[2017-04-06 23:21] jviafora commented on #136
You don't need a client secret when you do user auth:

[code]

[2017-04-07 09:56] jayababu-constient opened #137 "Need Same Framework for IOS"
Is there any framework support for iOS .For custom UI send username & password  and not Browser Window.

Thanks In Advance

[2017-04-07 18:20] danieldobalian opened #138 "Do extra parameters from the STS get surfaced to developer?"
In the case the STS returns back an error with an extra parameter, is it accessible to the developer. For instance:

[code]

[2017-04-09 21:16] danilocanel opened #139 "AADSTS70002 ERROR"
Hello everyone, I have the below error and I can't login:

Enter username: XXXXXX
Enter password: XXXXXX
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" java.util.concurrent.ExecutionException: com.microsoft.aad

[2017-04-10 00:53] danilocanel commented on #139
I re create the application in Azure how to a native application and grant the permissions for this.

[2017-04-10 00:53] #139 closed

[2017-04-11 21:38] psignoret commented on #137
No, the supported and recommended approach for iOS is to use what ADAL does by default, with the browser window. If you try to build your own UI, you are very likely to find that many users will not be able to sign in.

[2017-04-19 15:55] jvandervelden commented on #136
We are seeing the same issue.

If I do a straight POST request to 'https://login.microsoftonline.com/common/oauth2/token' using SoapUI:

Without Client Secret:

![image](https://cloud.githubusercontent.com/assets/7331813/25189318/d229d304-24f6-11e7-9a77-f825a4c1be22.png)

With Client Secret:

![image](https://cloud.githubusercontent.com/assets/7331813/25189328/d91d0d84-24f6-11e7-8daa-b62c460776a7.

[2017-04-28 15:14] psignoret commented on #136
A client credential (`client_secret` or `client_assertion`) has always been required when the `client_id` in question refers to a confidential client (i.e. an app registered as a web app/web API).

However, the only scenario where the username/password flow is supported is for public clients (i.e. an app registered as a native client app), which are _not_ authenticated (and thus, don't have client

[2017-05-06 20:19] Slmba opened #143 "Does it works?!"
Hello. I'm trying to run adal4j auth and get NPE (lib exception). Reason -
DEBUG com.microsoft.aad.adal4j.MexParser - No matching policies
What it's mean? And how make it works.

`
private final static String AUTHORIZATION_ENDPOINT_COMMON = "https://login.microsoftonline.com/common/";
private static AuthenticationResult getAccessTokenFromUserCredentials(
            String username, String passwor

[2017-05-06 20:26] Slmba commented on #143
pass contains specials, username contains @

[2017-05-08 01:19] praneetloke opened #144 "Ability to pass a client secret for username/password based authorization"
While trying to retrieve an access token using the username/password combination, I discovered that this would only work if the client ID is configured as a Native App since they are considered to be "public" clients as opposed to web apps/APIs being "confidential" clients. But my situation requires me to request a token for a *web app* using the username/password for a user in the AD.

The specif

[2017-05-08 04:44] praneetloke commented on #136
I ran into the same problem. I had to generate an access token for a client ID that is registered as a web app/API with a username/password. As @psignoret stated, I needed to pass the `client_secret` param along with the username/password but this library currently doesn't have a way to pass the `client_secret` when calling the `acquireToken(...)` with the username/password. I have opened #144 to

[2017-05-08 09:31] psignoret commented on #136
As I mentioned earlier, the only supported use of username/password is with apps registered as public clients (i.e. native client applications). You *must not* these these requests for confidential clients, as that is unsupported and the service will stop accepting those requests at any moment.

See also why #100 was rejected.

[2017-05-08 09:32] psignoret commented on #144
The only supported use of username/password is with apps registered as public clients (i.e. native client applications). You *must not* make these requests for confidential clients, as that is unsupported and the service will stop accepting those requests at any moment.

See also why #100 was closed.

[2017-05-08 20:21] praneetloke commented on #144
@psignoret I wasn't aware that it is unsupported and that the service will soon stop accepting those requests. Is there an official announcement about this and when this would actually stop working? Having said that, it doesn't seem like it is worth doing what I proposed in my first comment in this issue. I'll close this for now.

[2017-05-08 20:21] #144 closed

[2017-05-08 21:26] psignoret commented on #144
@praneetloke It has never been supported, so there has not been any announcement. To my knowledge, we have never stated that the username/password flow (the OAuth 2.0 Resource Owner Password Credential Grant flow, to be specific) is a supported flow in Azure AD for anything other than native client applications (and even for native client apps, we try to make it quite clear that it is strongly dis

[2017-05-08 22:09] praneetloke commented on #144
@psignoret what you say makes sense. While there may not be an explicit article stating that the username/password with the client_secret is supported by the AD service, the fact that the service responds with an error expecting a client_secret or assertion for non-native client ID is a bit misleading. This is probably why many of us are trying to use it. At least, that is why I am trying to use i

[2017-05-09 13:59] kollud opened #145 "Authority URL is getting truncated"
Hi,
We need to go through data power gateway to communicate with external providers.

Our data power team has provided url for authority as https://xxx.corp.com/api/CRMWebAPIService/v1/Common/ to connect to Microsoft authority url https://login.microsoftonline.com/common/.

But adal4j.jar provided by Microsoft is truncating this part api/CRMWebAPIService/v1/Common/ and invoking services as https:/

[2017-06-05 21:00] mores opened #146 "Sample needed for Service to service calls using shared secret"
This sample is great to get started with a username and password: https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/samples/public-client-app-sample/src/main/java/PublicClient.java

Can you publish a similar example that uses a client_secret instead of username/password as described in this doc: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-dir

[2017-06-21 00:15] SomkaPe commented on #127
Resiliency is not implemented yet,  labeling as Enhancement

[2017-06-21 00:16] #137 closed

[2017-06-21 00:56] #136 closed

[2017-06-21 01:00] #110 closed

[2017-06-21 04:01] SomkaPe commented on #145
ADAL Java does not support Authority in the mentioned form. Only first segment in the path is taken to account, which should  be "adfs" if it is ADFS authority or it will be treated as AAD Tenant otherwise.

[2017-06-21 07:14] psignoret commented on #145
@kollud Are you sure that `https://xxx.corp.com/api/CRMWebAPIService/v1/Common/` is the URL for the _authority_, and not the URL for the _resource_ (i.e. the endpoint for which you will get an access token, not the endpoint _providing_ the access token)?

If this is a resource expecting an access token from Azure AD, you authority is most likely either `https://login.microsoftonline.com/common/` o

[2017-06-21 23:56] #112 closed

[2017-06-22 00:05] #106 closed

[2017-06-23 00:49] SomkaPe commented on #143
PasswordCredentialsGrant does not work with MSA accounts, it supposed to be used by with AAD and Federated accounts.

[2017-06-25 20:55] rbostock commented on #146
I can't get the username/password sample to work. I want to use this to connect to Dynamics 365 web api, but the error I get is:

{"error_description":"AADSTS75005: The request is not a valid SAML 2.0 protocol message.\r\nTrace ID: ebcd0ca0-48be-4070-afe6-87fd65181c00\r\nCorrelation ID: 582c9a24-1333-4b94-afa1-5fba6e86aade\r\nTimestamp: 2017-06-25 20:46:05Z","error":"invalid_request"}

Any pointer

[2017-06-26 23:24] #143 closed

[2017-06-28 17:44] saurabh500 opened #148 "Request invalid or malformed while trying to get a accesstoken"
I am using samples\AdalDesktopTestApp to retrieve the access token for a STS url with a client ID using Integrated authentication.

While using the code, I get an error
[code]

The code looks something like this

[code]

To rule out whether its a Integrated Auth issue, I also tried user and password to login and it didn't work either. I end up with the same exception message as above.

To test if

[2017-06-28 17:49] saurabh500 commented on #148
While using username and password auth the error message has a different URL as expected, but the error message and code are the same
[code]

[2017-06-28 17:50] saurabh500 commented on #148
I submitted a dot net SDK issue in java, sorry about that. Closing this issue.

[2017-06-28 17:50] #148 closed

[2017-06-29 15:18] saurabh500 opened #149 "Integrated auth support for Java sdk"
Is integrated auth supported with the java SDK?
I see that dotnet SDK for adal support the functionality.
I see that it is possible with Java as well. Is the feature in the pipeline? If not on the roadmap of the team then would you be willing to accept a PR for this feature?
Context: we need this capability from adaj4j so that we can support integrated auth in our mssql jdbc driver to authenticate

[2017-06-29 16:54] dabe5 opened #150 "have been recently discussing payment"
Take railway 🚄

[2017-06-29 16:54] dabe5 commented on #150
Which was best known for their

[2017-06-29 16:55] dabe5 commented on #150
This time the power

[2017-06-29 16:56] dabe5 commented on #150
Ramakrishna mission was not able number

[2017-06-29 16:57] dabe5 opened #151 "Indi rail"
Shealda

[2017-06-29 16:59] dabe5 commented on #51
Sadpur

[2017-06-29 16:59] dabe5 commented on #51
Ramakrishna

[2017-07-05 18:44] xcomprs opened #152 "java.lang.NoSuchMethodError: com.nimbusds.oauth2.sdk.AccessTokenResponse"
Hi Guys,

I am getting this error when I try to retrieve Future<AuthenticationResult> with token.
Any idea what's going on ?

_**Error: java.lang.NoSuchMethodError: com.nimbusds.oauth2.sdk.AccessTokenResponse.<init>(Lcom/nimbusds/oauth2/sdk/token/Tokens;Ljava/util/Map;)V**_

**code:**
[code]

[2017-07-06 14:10] MarkRx opened #153 "gson library version is low"
It seems this library is using an old version of gson - gson 2.2.4. Gson 2.3 added a bunch of convenience methods that applications frequently make use of. In tools where plugins are loaded with the same classloader this can result in exceptions. Here is an example:

Example tool: https://github.com/xebialabs-community/xld-azure-app-services-plugin/issues/3

[2017-07-06 20:26] ilyauts opened #154 "Are Client_ID and username the same?"
When using an application id for a username and the application key for the password, are the username and client_id fields the same in the sample code?

[2017-07-07 07:33] logikeer opened #155 "AuthenticationContext should provide the function to set the proxy credential"
There are many proxy setting in our product. Azure cloud is one of them.
The adal4j should provide the function to set the proxy credential, and not to use the properties in JVM.

AWS SDK and vCloud SDK have the similar function to set the proxy credential.

[2017-07-21 22:55] SomkaPe commented on #138
No, it is not , AuthenticationException which is thrown contains in the message serialized TokenErrorResponse object ( https://tools.ietf.org/html/rfc6749#section-5.2 )

[2017-07-21 22:55] #138 closed

[2017-07-24 20:17] #51 closed

[2017-07-25 20:27] SomkaPe opened #159 "Claims challenge"
Throw AdalClaimsChallengeException with Claims retrieved from OAuth http response in case of HTTPStatusCode 400 and error Code = "interaction_required"

[2017-07-31 16:40] #130 closed

[2017-07-31 16:42] #115 closed

[2017-07-31 16:43] #113 closed

[2017-07-31 16:45] #145 closed

[2017-07-31 16:47] #159 closed

[2017-07-31 18:26] kpanwar commented on #155
It already does. https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/main/java/com/microsoft/aad/adal4j/AuthenticationContext.java#L127

[2017-07-31 18:27] #151 closed

[2017-07-31 18:27] #150 closed

[2017-07-31 18:32] kpanwar commented on #149
it is already supported. https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/main/java/com/microsoft/aad/adal4j/AuthenticationContext.java#L229
if the user is federated, adal would attempt ws-trust flow.

[2017-07-31 18:32] #149 closed

[2017-07-31 18:33] kpanwar commented on #146
Please check out https://github.com/AzureAD/azure-activedirectory-library-for-java/tree/dev/src/samples/web-app-samples-for-adal4j for the web app sample.

[2017-08-01 03:59] logikeer commented on #155
I know there is the function to set the proxy including URL and port.
But it can not set the credential for the proxy, like the username and password for the proxy auth.

[2017-08-02 09:27] roilevi86 opened #160 "Support attended AAD user authentication (based-on device code flow)"
I'm trying support attended AAD user authentication flow based-on device code flow or any other flow that will not require the user's password in the code.

Does the existing library supports this flow?

Thanks!

[2017-08-03 00:45] #116 closed

[2017-08-04 20:02] mgyucht opened #163 "UserInfo does not include tenant ID of tenant that issued access token"
When getting an access token from AAD, the response includes the tenant which authenticated the request in the `tid` field. However, it seems like this library ignores this part of the returned access token. Interestingly, there is a field in `AuthenticationConstants` called `ID_TOKEN_TENANTID` which seems to correspond to this field.

What would the best way of exposing this part of the response

[2017-08-09 17:12] jianghaolu commented on #155
+1

[2017-08-09 21:32] dtretyakov commented on #155
It is a blocker since Azure SDK for Java depends on it: https://github.com/Azure/azure-sdk-for-java/pull/1787#discussion_r132246986

[2017-08-10 11:20] psignoret commented on #160
#132 is a PR for the device code flow, but it hasn't been merged in yet, so no, at the moment, interactive authentication for anything that's not a web app running in a browser are not supported by this library yet.

[2017-08-10 21:13] dtretyakov commented on #155
Note: take into account that in java sdk to provide credentials used [Authenticator](https://square.github.io/okhttp/3.x/okhttp/okhttp3/Authenticator.html) from okhttp3 library.
It seems that you could also switch from `HttpsURLConnection`-related stuff to it.

[2017-08-14 16:44] mores opened #164 "Microsoft Graph or Azure AD Graph"
It seems like the examples you provide:
https://github.com/Azure-Samples/active-directory-java-native-headless utilize the Azure AD Graph (graph.windows.net).

According to: https://blogs.msdn.microsoft.com/aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/  New applications should use  Microsoft Graph (graph.microsoft.com).

Can adal4j be used with Microsoft Graph ?
If so, is there an exa

[2017-08-15 14:27] tanimak opened #165 "Cannot get Authentication Token using Refresh token with username and password"
Why there are no methods supporting refreshing the access token using refresh token, when using username and password.

I have asked the detailed question in,
https://stackoverflow.com/questions/45694705/adal4j-java-use-refresh-token-with-username-and-password-to-get-the-access-tok

Are there any limitations in java version?

Thank You.

[2017-08-16 02:29] SomkaPe commented on #155
Proxy authentication can be set by using java.net.Authenticator
Example:

    Authenticator.setDefault(new Authenticator() {
        @Override
        protected PasswordAuthentication getPasswordAuthentication() {
            return new PasswordAuthentication("login", "password".toCharArray());
        }
    });

[2017-08-16 02:41] logikeer commented on #155
This method will impact all cloud connections. I want only to setup the proxy credential on the cloud connection for Azure, not other cloud connections.

[2017-08-30 00:26] SomkaPe commented on #155
In order to that you need to configure AuthenticationContext with  SSLSocketFactory instance for creation of tunneling sockets.  Example -  https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/167

[2017-08-30 09:49] quartelh commented on #110
Any resolution for this?
I also run into this with a Java implementation accessing Azure key vault

[2017-08-31 15:20] raman1901 commented on #120
Hi @adarsh2570 and @zhangzhang

Did you guys find any way to authenticate this 2nd type of users - "not present in any tenant and directly added to your tenant"

[2017-09-05 20:43] SomkaPe commented on #154
Could you please provide details about your case?

[2017-09-12 17:44] navyasric commented on #164
Closing this issue as the question seems to be answered

[2017-09-12 17:44] #164 closed

[2017-09-14 13:41] psignoret commented on #154
@ilyauts If you are referring to the [public client]() sample, where this method signature is used:

[code]

Then no, the client ID and app secret are not the username and password, respectively. That signature above is used to authenticate a *user* with their username/password.

To obtain an access token in the context of an *application* using the client ID and client secret, you would use somet

[2017-09-18 22:44] v-xiangs commented on #149
hello @kpanwar we looked at the method you point out, but seems like it requires username and password to authenticate. Therefore, I believe the method is not for integrated authentication. Do you know if there is any other methods I can use for integrated authentication (without username and password). Thank you.

[2017-09-20 21:48] saurabh500 commented on #149
@kpanwar The link to code you have provided, validates that the username and password has been supplied. The requirement is to be able to use authentication without specifying the username and password. Can this issue be reopened and tracked?

[2017-10-20 05:05] kpratik16 opened #178 "NoSuchMethodError from JWTClaimsSet. Java version issue?"
Hi,

I am using adal4j version 1.3.0 in Java 1.8 in Spark Streaming Application. It works fine on local machine but when testing it on cluster (again Java 1.8), it throws error as below. Am I missing something?

[code]

[2017-10-23 23:00] #178 closed

[2017-10-25 21:20] navyasric commented on #155
Closing this as the sample above was merged to 1.3.0 release

[2017-10-25 21:20] #155 closed

[2017-10-27 09:18] dtretyakov commented on #155
@jianghaolu, will you reuse approach suggested by this team in the azure-sdk-for-java?

[2017-10-28 03:53] james-hu opened #180 "Cannot be used in Android environment because of commons-codec-1.3 compatibility"
In Android environment, commons-codec-1.3 is embedded in the OS, there is no way to change it or bring your own version of that library.

Base64.encodeBase64(...) method used in azure-activedirectory-library-for-java does not exist in commons-codec-1.3, therefore, azure-activedirectory-library-for-java cannot be used in Android environment.

The fix is simple, just modify AuthenticationContext.jav

[2017-10-28 09:56] psignoret commented on #180
If you're developing for Android, have you considered using https://github.com/AzureAD/azure-activedirectory-library-for-android instead?

[2017-10-28 11:53] james-hu commented on #180
I've looked into that "for-android" library before. That library depends on Android environment so it cannot be used in plain Java 7/8/9 environment. What I need is something that can be used in both Java 7/8/9 and Android. The pull request contains only 3 changes in a single file, and it works for me in both Java 7/8 environment and Android environment in my work projects.

[2017-11-15 11:21] MAHMOOD-TAHIR commented on #136
Hi @seetharamireddy540,
Did you find your solution? i'm also having the same problem

[2017-11-15 12:19] jvandervelden commented on #136
What we ended up doing is making each native client it's own native application in Azure. We then issue a key to the native application from Azure which is the client secret. From there we can use the client secret authorization flow. We also have a double check in our application the verifies the client's application id to filter out rouge clients.

Since we started this, the native applications

[2017-11-21 10:06] psignoret commented on #136
A true native client application (public client, in OAuth 2.0 terminology) should *never* have any secret. The fact that before you were given the option of creating a secret in the UI was a confusing mistake, but it never made any sense whatsoever.

[2017-11-24 00:21] Killinspoon commented on #178
Hi, did you happen to find a solution to this? I'm having the same issue.

[2017-12-01 23:15] SreeramGarlapati opened #186 "AuthenticationCallback.onFailure() should be invoked with the actual exception (ExecutionException.getCause())"
To Repro:
Create `AuthenticationContext` with invalid `tenant` and then invoke `acquireToken` call.

Expected:
`AuthenticationCallback.onFailure(Throwable throwable)` sees throwable is instance of `adal4j.AuthenticationException`.
Actual:
Throwable instance of `ExecutionException`

ExecutionException is an infrastructure related error; i.e., the API happened to run on an ExecutorService which caug

[2017-12-05 12:42] jayababu-constient opened #187 "Is there any framework support for iOS .For custom UI send username & password and not Browser Window."

[2017-12-05 15:45] Cpt-xx opened #188 "Port-over from Applications insights issue #361"
Referring to https://github.com/Microsoft/ApplicationInsights-Java/issues/361, and on suggestion of one of the people over there.

The text (in case the link would fail in the future):
===
We're having a hard time unit testing adal4j in isolation. The way the authentication needs to be set up (creating a new com.microsoft.aad.adal4j.AuthenticationContext) forces us to run unit tests in an environm

[2017-12-13 01:50] james-hu commented on #180
any interest to merge my pull request?

[2017-12-21 14:07] sivajiyerra opened #190 "AADSTS70000: Transmission data parser failure: Refresh Token is malformed or invalid error for refresh token"
I am trying to get the refresh token using the refresh token received from the access token API. But how many tried, it always return the malformed error.

I set the scope while sending the access token request. Please not that I am using generic HTTP requests from the JAVA. Please find the request I made and responses I received.

**Get Access Toke API:**
**URL: ** [https://login.microsoftonline.

[2018-01-08 19:17] ilyauts commented on #154
Thanks for your help, we were using the wrong Java SDK, it has since been resolved.

[2018-01-08 19:17] #154 closed

[2018-01-21 07:48] ashwinnatty opened #197 "PowerBI (App owns data) - Ability to pass a client secret for username/password based authorization"
I am trying to user Power BI embed (app owns data) and the documented way to generate access token is to use user and password.  Please refer below
https://docs.microsoft.com/en-us/power-bi/developer/get-azuread-access-token
Go to section : Access token for non-Power BI users (app owns data)

But when i try to generate one using the Java library, it gives an error saying
"{"error_description":"AAD

[2018-01-24 08:33] wobba commented on #144
I know this is an old one. My scenario is calling an endpoint which don't allow app tokens, while all other endpoints support it. As I'm using app tokens, I only want to use username/pw for certain resources.

While `authenticationContext.AcquireTokenAsync(GraphResourceId, _appId, userPasswordCredential);` generates the AADSTS70002 error, tacking on the adal app secret on the payload to `https://l

[2018-01-24 08:45] psignoret commented on #144
@wobba Regardless of whether or not it works today, this functionality is undocumented, explicitly unsupported, and against Microsoft's recommendation. It will not be added to this library.

[2018-01-24 08:58] wobba commented on #144
@psignoret No problem, and just one of those roadblocks we tend to hit every time we try to create solutions :) If the call itself is unsupported as well (not just in the lib), I'd prefer the call to fail - not tempting  developers to work around something which was never intended.

[2018-02-26 17:52] PranayWankhede opened #199 "Azure : Change Single Tenant Authentication to Multi Tenant using Java"
I have done a single tenant Authentication which works fine for me. Now I am changing the app to multi tenant authentication. I have changed the app from single tenant to multi-tenant in azure. But I am not able to find any code for multi tenant authentication in Java. What all changes I will have to make to the following code to make it work for multi tenant authentication.
Code :-

    private S

[2018-02-27 00:33] psignoret commented on #199
Can you elaborate on what you mean by "I already have user's credentials"? Are you actually collecting the username/password?

[2018-04-08 03:16] shekars opened #207 "getting 401 error"
i am getting 401 error. i was able to get token id ,but when i access the serice i am getting 401 error . please help

Exception in thread "main" java.io.IOException: Server returned HTTP response code: 401 for URL: https://xxxxx.crm8.dynamics.com/api/data/v9.0/WhoAmI
`
import java.io.BufferedReader;
import java.io.BufferedWriter;
import java.io.IOException;
import java.io.InputStreamReader;
impor

[2018-04-09 18:30] sangonzal commented on #197
Hi @ashwinnatty the sample that you are linking to is written in C#. Are you aware of [azure-activedirectory-library-for-dotnet](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet)? Can you share the Java code you are using to acquire the token?

[2018-04-09 19:13] sangonzal commented on #187
Hi @jayababu-constient, have you seen [azure-activedirectory-library-for-objc](https://github.com/AzureAD?language=objective-c)?

[2018-04-10 09:49] alexis-puska commented on #164
And how can i get the token for microsoft graph with the add-in tocken ?

I used the code generate to create a addins for office 365 and with the javascript function getAccessTokenAsync whe get an addins token. source :
https://docs.microsoft.com/fr-fr/office/dev/add-ins/develop/sso-in-office-add-ins

with Adal4j i try to get the graph ampi with this addin token but i only get error code:
"error_d

[2018-04-10 09:56] alexis-puska opened #208 "Get Microsoft graph token with adal4J and addin token ?"
And how can i get the token for microsoft graph with the add-in tocken ?

I used the code generate to create a addins for office 365 and with the javascript function getAccessTokenAsync whe get an addins token. source :

        function getCallbackToken() {
            Office.context.mailbox.getCallbackTokenAsync(cbToken);
        }

        function cbToken(asyncResult) {
            var token =

[2018-04-27 16:49] abbhhiisseek opened #211 "Request parameters are chopped off after authentication redirect leading to incorrect URLs"
Sample URL before authentication
http://localhost:8080/openTransfer.htm?reqId=T123

After authentication redirect, the parameter **reqId=T123** is chopped leaving only http://localhost:8080/openTransfer.htm

Can you please look into this?

[2018-04-28 16:31] psignoret commented on #211
This is not an issue with the ADAL library, it's an issue (or rather, an unsupported feature) of the Azure AD service, which does not currently support query parameters in the redirect URI.

Is your query parameter a variable value (e.g. may change for different sign-ins)? Or a static value (e.g. `action=process_response`?

If it's a variable value, I would suggest using the `state` parameter of t

[2018-04-30 19:13] abbhhiisseek commented on #211
@psignoret Thank you.I'll try the above

[2018-05-02 09:18] mpradny opened #212 "AADSTS90013: Invalid input received from the user. When password with &# is used"
I found an issue when acquiring a token when password had **&#** inside. I used https://github.com/azure-samples/active-directory-java-native-headless sample and I always got   `com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS90013: Invalid input received from the user.` for my primary test account.

Code snippet from source:
[code]

When I tried different account, ev

[2018-05-03 11:54] marcinzi opened #213 "On-behalf-of flow support using AsymmetricKeyCredential (certificate based)"
I am missing a method to acquire access token on-behalf-of a user, where client authenticates with certificate. There is only support for this flow, where client authenticates with client secret:

existing:
public Future<AuthenticationResult> acquireToken(
 final String resource,
 final UserAssertion userAssertion,
 final *ClientCredential* credential,
 final AuthenticationCallback callback)
{ ...

[2018-05-04 23:05] #74 closed

[2018-05-04 23:27] sangonzal commented on #152
Hi @xcomprs sorry for the delay in replying. We have updated to release v1.5.0 and have updated the samples. Do you get the same error with the newest version?

[2018-05-04 23:47] #187 closed

[2018-05-04 23:49] #163 closed

[2018-05-04 23:58] sangonzal commented on #197
Closing due to inactivity. Feel free to re-open.

[2018-05-04 23:58] #197 closed

[2018-05-04 23:58] sangonzal commented on #199
Closing due to inactivity. Feel free to re-open.

[2018-05-04 23:58] #199 closed

[2018-05-05 00:02] sangonzal commented on #165
@tanimak Sorry for the delay in response. ADAL4J has added support for acquiring an access token using a refresh token. Take a look at any of the overrides for acquireTokenByRefreshToken

[2018-05-05 00:02] #165 closed

[2018-05-05 00:36] sangonzal commented on #190
@sivajiyerra Sorry for the delay in responding. The URL the reference doc that you posted is broken. If you would like to see an updated tutorial on how to acquire an access token using raw HTTP messages I'd recommend this [tutorial](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code)

For this specific case, it looks like you are requesting a tok

[2018-05-08 20:55] abbhhiisseek commented on #211
@sangonzal @psignoret
I am sending queryString in stateData in sendAuthRedirect method (Basic Filter) before authentication

    String state = "{\\"state\":\\"" + UUID.randomUUID().toString() +
    "\\",\\"queryString\\":\\"" + httpRequest.getQueryString() + "\\"}";
and retrieving it from State after authentication and setting it as servletRequest attribute in processAuthenticationData method (Ba

[2018-05-15 15:47] jviafora opened #215 "JWT ID (jti) Claim Missing for Servers Requiring It"
Suggest adding the following to JwtHelper Class:

Change this:
[code]

To this:
[code]

[2018-05-16 17:37] jviafora commented on #215
Would this be an accepted change if we created a PR for it? I noticed you initialize the JWTClaimsSet with jwtID in OAuthRequestValidationTest:
`// Prepare JWT with claims set
        JWTClaimsSet.Builder builder = new JWTClaimsSet.Builder();
        builder.issuer("alice");
        builder.subject("alice");
        List<String> aud = new ArrayList<String>();
        aud.add("https://app-one.com")

[2018-05-17 04:19] brunoborges opened #216 "Change Maven artifactId to a more concise name"
Hi,

Almost all Azure related Java libraries have a concise artifactId representing they are in fact Azure-related. This project publishes a Maven artifact named "adal4j".

Is it possible to release the next version, and re-release version 1.5.0 (latest as of today), named "azure-activedirectory" ?

Thanks

[2018-05-17 15:14] psignoret commented on #117
Can you elaborate on why you require the ID Token to be signed?

[2018-05-17 20:47] sangonzal commented on #216
Hi @brunoborges are there any other specific reasons why you think the named should be changed? Although I agree that having the whole name spelled out would be nice for consistency reasons, changing it at this point might introduce confusion to customers that have been using the library. Also, although not referenced in the artifact id, azure is list in the groupId (com.microsoft.azure)

[2018-05-17 21:27] jviafora commented on #215
@sangonzal PR created:
[Pull Request](https://github.com/AzureAD/azure-activedirectory-library-for-java/pull/217)

[2018-05-18 04:48] brunoborges commented on #216
Main reason is really to bring consistency across all Maven artifacts. But it also has impact in IDEs with code completion that look into Maven index. One developer may type "<artifactId>azure-" and the IDE will show all possible options. Or type "active" or "activedirectory" and it will find it. "adal4j" is not intuitive at all.

[2018-05-21 17:54] sangonzal commented on #213
@marcinzi #213 was merged. Thanks for contributing to the project!

[2018-05-21 17:54] #213 closed

[2018-05-21 17:55] #190 closed

[2018-05-21 17:55] #152 closed

[2018-05-24 17:34] olgapop commented on #215
Hi @sangonzal, do you know how long it takes for @SomkaPe to review changes? It's been 6 days already.

[2018-05-28 18:58] mozowski commented on #117
Hi @psignoret is above information helpful? I can provide you with more details.

[2018-05-29 18:21] #215 closed, assigned to nobody

[2018-05-30 15:40] psignoret commented on #215
@olgapop Quick question on this: In which situation are you finding that `jti` is required?

[2018-05-30 17:02] jviafora commented on #215
@psignoret, on-prem ADFS

[2018-05-31 11:53] borjaevo opened #222 "MFA Auth documentation or sample?"
I read on readme that from 1.3.0 version support for handling Conditional Access claims challenge was added. But, im having difficult to find documentation about or any sample. Where i can find info about conditional access using adal4j for a java native app?

[2018-06-05 22:36] sangonzal commented on #222
@borjaevo you can find information on conditional access [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-conditional-access-developer). Also take a look at the web app sample (src/samples/web-app-samples-for-adal4j) for how to handle a claims challenge exception
in Java

[2018-06-05 22:43] sangonzal commented on #188
@Cpt-xx Thanks for the feedback/suggestions. We will take them into consideration as we work to release MSAL Java

[2018-06-05 22:43] #188 closed

[2018-06-05 23:54] sangonzal commented on #208
@alexis-puska Based on the link that you have posted, it seems that Office Add-Ins that use the SSO API only work with the v2 endpoint. ADAL4J only supports the V1 endpoint (See [link](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-compare) for the differences in between v1 and v2)

[2018-06-11 23:02] navyasric commented on #222
@borjaevo - Closing this for now as it is answered in above comment. Please reopen if necessary.

[2018-06-11 23:02] #222 closed

[2018-06-11 23:14] sangonzal commented on #216
@brunoborges we have decided to keep the current name as to not introduce any confusion to current customers.

I think you bring up a good point though, and as we release Microsoft Authentication Library for Java, we will take your feedback into account and make sure the name is consistent with the rest of the azure libraries.

[2018-06-11 23:14] #216 closed

[2018-06-11 23:15] #208 closed

[2018-06-17 09:56] dcapslock commented on #120
+1 to fix this. I believe Atlassian Crowd uses this code and as such Guests do not working with their Azure AD plugin.

[2018-06-18 12:15] psignoret commented on #120
@dcapslock Can you clarify which method of this library Atlassian Crowd is using?

[2018-06-25 12:10] alexis-puska commented on #208
I have try to validate this token with a manually call to this url :
https://login.microsoftonline.com:443/{tenantId}/oauth2/v2.0/token
With this parameters :
client_id: app id declare inside Azure
client_secret : secret declare for the app inside azure
assertion : token obtain with javascript librarie inside the complement
scope  : https://graph.microsoft.com/user.read offline_access
requested_to

[2018-07-17 16:22] awadheshv opened #225 "Is there an osgi bundle packaging available for adal4j?"
I have been searching around and did not find any, so just wanted to confirm. If this matters, I am trying to deploy on apache felix osgi runtime.

[2018-07-17 19:26] sangonzal commented on #225
@awadheshv ADAL4j is not made available as an OSGI bundle. You can download the source and use a tool like [Bndtools](http://bndtools.org/tutorial.html) to convert it.

[2018-07-18 04:13] awadheshv commented on #225
okay. thanks for confirming.

[2018-07-26 18:00] brentschmaltz commented on #117
@mozowski @feelgoodman these id_tokens are arriving as an artifact of an OAuth request that returns an access_token. These id_tokens do not have to be signed.
id_token flows are not designed to be shared among applications, they are used to provide identity artifacts.
The purpose of access_tokens, where the caller is asking for access to a restricted resource. On behalf of flows can be used to obt

[2018-07-29 11:45] mozowski commented on #117
@brentschmaltz Thank you! So do you know how to obtain OpenID Connect token than can be used in 3rd Party applications using non interactive flow with Azure AD like described here: https://docs.aws.amazon.com/cognito/latest/developerguide/open-id.html ?
OpenID spec: https://openid.net/specs/openid-connect-core-1_0.html

[2018-07-30 13:46] rlanhellas opened #226 "Azure don't call Logout URL for anothers Web App"
In Azure AD i have 2 Web App registred, both with **LogoutURL** setted, like this:

` - WebAPP 01 (LogoutURL): http://localhost:8081/webappa/signedout/
 - WebAPP 02 (LogoutURL): http://localhost:8082/webappb/signedout/`

So, the Single Sign-On works fine but **Single Sign-Out** don't. I have both WebApp (01 and 02) in Java with exactly same endpoint method, see:

` @RequestMapping(value = "/signed

[2018-08-09 15:30] PhlashGBG commented on #117
Similar issue here, wanting to use a signed id_token as a federated identity assertion from our customer's AzureAD (or other IdP) into our application platform, where /we/ perform the authorisation of the asserted identity to access our stuff (ie: we check against what they have purchased). Given the documentation here (https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-id-and-acce

[2018-08-21 00:04] JonathanGiles opened #231 "Import in AsymmetricKeyCredential causes JDK 9+ compilation issues"
In JDK 9+, the `import sun.security.util.Length` statement in `AsymmetricKeyCredential` causes compilation failure, as this class (and package) is no longer public API. Ideally it would be removed to enable this SDK to be used in JDK 9+, but understandably this requires extra work to, e.g. reflection, to remove hardcoded dependencies and instead do runtime checks.

[2018-08-27 10:34] jainanuj82 opened #232 "Exception in thread "main" java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: Server returned HTTP response code: 500 for URL : https://idpsso.XX.com/idp/sts.wst?TokenProcessorId=UsernameTokenProcessor"
Hello,

i am trying to get Token using the PublicClient.java sample program.

But i am getting below error:

Exception in thread "main" java.util.concurrent.ExecutionException: com.microsoft.aad.adal4j.AuthenticationException: Server returned HTTP response code: 500 for URL : https://idpsso.XX.com/idp/sts.wst?TokenProcessorId=UsernameTokenProcessor

The last URL is URL of my ping federate.

The co

[2018-08-27 10:36] jainanuj82 commented on #232
Also, i can not see anything on fiddler.

[2018-08-28 09:44] vedeevi opened #233 "AAD token with "invalid_grant" error when trying to pass as on-behalf of token to Graph API."
Hi All,

We having an issue when trying to generate a AAD token using UserAssertion and client credentials for targeting to Graph API as resource. Following are our configurations which were used to send the request...

https://login.microsoftonline.com:443/{tenantId}/oauth2/v2.0/token
With this parameters :
client_id: app id declare inside Azure
client_secret : secret declare for the app inside a

[2018-08-30 21:14] sangonzal commented on #233
Hi @vedeevi are you using azure active directory library for Java? The Java library does not support the v2 endpoint. Here is a [link](https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison) explaining the differences between v1 and v2.

You might want to take a look at [MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), which d

[2018-08-30 21:26] sangonzal commented on #231
@JonathanGiles Thanks for pointing this out. This is currently an open item on our backlog.

[2018-08-30 21:27] #226 closed

[2018-09-06 01:20] cheenamalhotra opened #234 "ADAL4J: v1.6.2 not released on GitHub?"
I just came across new maven release version of adal4j 1.6.2 on Maven Repository (released 20 Aug), but don't see that released and tagged on GitHub. Is the source code tagging due sometime?

Would be good to know if v1.6.2 is a Pre-release of a Stable one.

[2018-09-06 15:33] sangonzal commented on #234
Hi @cheenamalhotra thanks for pointing this out, releases on GitHub should now be up to date. v1.6.2 is a stable release.

[2018-09-06 15:33] #234 closed

[2018-09-06 15:33] #233 closed

[2018-09-14 18:35] fiechter opened #235 "Seamless SSO fails with integrated authentication"
The following request should use negotiate authentication according to the docs:
context.acquireToken(resource, clientId,userName, null, callback);

Somehow, users enabled for seamless SSO give this exception:
com.microsoft.aad.adal4j.AuthenticationException: Password is required for managed user

[2018-09-17 23:32] SomkaPe commented on #232
Based on server response I would assume that PingFederate Integration with Azure Active Directory is not configured.

[2018-09-21 06:29] potaty commented on #144
Bad documents. I waste a few hours on this feature.

[2018-10-02 13:59] pdyck opened #237 "Adal4j dependency breaks Spring Boot app in Eclipse"
Hey,

when Adal4j is imported into my project, I can't run it in Eclipse STS because it breaks something in Spring:

[code]

On StackOverflow I found some people having similar problems when using Microsoft Java libraries.

https://stackoverflow.com/questions/51558046/spring-boot-mockmvc-error-creating-bean
https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000702530-NoSuchFieldErr

[2018-10-03 14:34] #237 closed

[2018-10-04 19:56] cheenamalhotra opened #238 "Not able to Build ADAL4J library with Java 11"
As per steps defined in [WIKI](https://github.com/AzureAD/azure-activedirectory-library-for-java/wiki/Maven), performing `mvn clean package` attempts running Test Suite and fails with below error:

![image](https://user-images.githubusercontent.com/13396919/46499311-931dd480-c7d4-11e8-9ddb-9292e924bcf9.png)

Log attached: [adal4j.txt](https://github.com/AzureAD/azure-activedirectory-library-for-ja

[2018-10-25 21:37] yvgopal opened #243 "Does the SDK support acquiring MSI authentication token?"
I am from Azure service bus team. Our SDK supports AAD authentication, and of course MSI too. AAD library for .net has API to get a MSI authentication token (from documentation)
`var azureServiceTokenProvider = new AzureServiceTokenProvider();
string accessToken = await azureServiceTokenProvider.GetAccessTokenAsync("https://management.azure.com/");`

Do you have something similar in ADAL4J library

[2018-11-01 20:51] brunoborges commented on #231
@sangonzal can you please reopen this issue and keep it open until it is actually delivered?

[2018-11-03 00:07] SomkaPe opened #245 "Consider options to simplify configuring of SSLTunnelSocketFactory for corporate proxies."
Consider options to simplify configuring of SSLTunnelSocketFactory for corporate proxies.

[2018-11-03 10:43] sangonzal commented on #231
@brunoborges sure

[2018-11-21 05:13] SummerSun opened #246 "Do not print the pending end-user authorization error log"
When pending for end-user login, it seems the error log is always printed before throw or handle the exception. Since the callback has its way to deal with the failure case, could it just leaves to the callback to handle and get rid of the error log?

https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/main/java/com/microsoft/aad/adal4j/AdalCallable.java#L54

[2018-11-25 09:55] fiechter commented on #235
Any chances that this support will come?

[2018-11-26 10:35] danield137 commented on #245
@SomkaPe how about we try to get it from system environment variables and set the proxy in `AuthenticationContext` ctor?

[2018-12-02 20:29] gowhitha opened #247 "jcom.microsoft.aad.adal4j.AdalClaimsChallengeException: {"error_description":"AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access"
ClasscastException in AdalOAuthAuthorizationGrant toParameters() method when trying to acquire the token.

[pool-1-thread-1] INFO com.microsoft.aad.adal4j.AuthenticationAuthority - [Correlation ID: 96cba7af-3288-4895-ad27-b0f837a848a1] Instance discovery was successful
[pool-1-thread-1] ERROR com.microsoft.aad.adal4j.AuthenticationContext - [Correlation ID: 96cba7af-3288-4895-ad27-b0f837a848a1] Ex

[2018-12-03 02:34] gowhitha commented on #247
com.microsoft.aad.adal4j.AdalClaimsChallengeException: {"error_description":"AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '00000007-0000-0000-c000-000000000000'.\r\nTrace ID: 20f3d1b3-8c97-4095-86ca-5b0250310d00\r\nCorrelation ID: 0704c2e5-4552-4c68-969d-2861734c2a03\r\nTimestamp: 2

[2018-12-04 01:51] alexvanvucht commented on #120
@psignoret Latest Atlassian Crowd 3.3.2 loads this library: adal4j-1.2.0.jar

[2018-12-06 02:31] Incarnation-p-lee opened #248 "upgrade nimbusds dependency with spring security oauth2 client 5.1.x"
when leverage spring security 5.1.x with this package, there may be dependency conflict for nimbusds. This package leverage `5.64.4`, and spring security leverage 6.0. By the rules of maven dependency, it may chose 6.0 version based on you tree of dependencies.
[code]

Unfortunately, if maven chose 6.0 for you, the source code of `AdalTokenRequest` may met CastException. The 6.0 version changes th

[2018-12-08 19:49] mkdirJava commented on #248
@Incarnation-p-lee
I feel like I am missing something
httpRequest.setQuery(URLUtils.serializeParameters(params)); // Cast Exception in serialize.

comes from the lib;
    com.microsoft.aad.adal4j
in turn uses this lib
    oauth2-oidc-sdk ( I believe version 6 is used in the build as it is named "oauth2-oidc-sdk-6.0.jar")

the exception originates in oauth2-oidc-sdk as
          public static Strin

[2018-12-08 20:42] mkdirJava commented on #248
@Incarnation-p-lee
Your comment on previous

When using Spring Boot 2.1.0 with azure-active-directory-spring-boot-starter get error on login page Microsoft/azure-spring-boot#457

Sounds more interesting with a missing constructor?

java.lang.NoSuchMethodError: org.springframework.security.oauth2.core.oidc.user.DefaultOidcUser.<init>(Ljava/util/Set;Lorg/springframework/security/oauth2/core/oidc/Oid

[2018-12-11 11:24] julienlancelot opened #249 "It's not possible to get the full name of a user"
Hi,

I'm trying to access to the "name" of the user, but I couldn't.
As this field is the only mandatory field in Azure Active Directory, it's the only one I could safely rely on, because currently it's possible to have user without any name as first and last name can be empty.

From what I see in the code, first name (https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/

[2018-12-11 15:47] julienlancelot commented on #249
After digging further on this issue, I've found that I were able to get the name by doing :
[code]

My only concern is  : is the "name" always provided in the JWT claims ?

[2018-12-12 00:57] sangonzal commented on #243
Issue was resolved offline.

For anyone looking to use MSI authentication, Azure Java SDK supports MSI: : https://azure.github.io/azure-sdk-for-java/com/microsoft/azure/credentials/MSICredentials.html

Sample showing how to use it: https://github.com/Azure-Samples/compute-java-manage-vm-from-vm-with-msi-credentials/blob/master/src/main/java/com/microsoft/azure/management/compute/samples/ManageVirt

[2018-12-12 00:57] #243 closed

[2018-12-12 01:00] sangonzal commented on #238
@cheenamalhotra ADAL4J does not currently have any plans to support Java 11 as of right now. This might be revisited in the future.

We are currently working on MSAL Java, which will have support for later versions of Java.

[2018-12-12 01:33] sangonzal commented on #246
@SummerSun could you elaborate on why you want to remove the error log there. Could you just ignore the log message? It seems to me that logging that error there could be useful to others in certain scenarios.

[2018-12-12 01:54] SummerSun commented on #246
@sangonzal We are developing the IntelliJ IDEA plugin and we use the device login for signing in Azure. The log messages are expected when waiting for users to input the user code to do the real login. Thus the exception is swallowed from our side, but the error log messages report errors in IDE Fatal Errors window which is unnecessary for the users and somehow annoying.

This is the issue tracked

[2018-12-12 02:01] Eskibear commented on #246
@sangonzal
IntelliJ IDEA picks the error log, and it makes a big noise to users.
FYI, it looks like the following.
<img width="1181" alt="screen shot 2018-12-12 at 9 56 13 am" src="https://user-images.githubusercontent.com/2351748/49841877-423de400-fdf4-11e8-8656-ac326b302901.png">

I tried to change the log level of the logger but I cannot get the log4j logger instance from slf4j. Can we have a f

[2018-12-14 00:10] sangonzal commented on #246
@SummerSun @Eskibear I see. You should be able to turn off logging by setting `log4j.rootLogger=OFF` in the log4j.properties file

[2018-12-17 04:55] Eskibear commented on #246
Thank you @sangonzal , we'll give it a try.
@Flanker32 Let's see if we can mute the logger for adal classes in IntelliJ IDEA plugin, e.g. `log4j.logger.(packagename) = OFF`

[2019-01-01 16:16] ibigbug commented on #233
@vedeevi  did you fix the issue?

[2019-01-07 17:12] Aldi11 opened #250 "It is not possible to get the Refreh Token"
Hi,

I,m using the adal4j 1.63 in order to connect with the CRM Dynamics 365.
From my tests, i´ve seen that the refresh token is always null.

My code looks like:
               AuthenticationContext context = null;
		AuthenticationResult result = null;
		ExecutorService service = null;
		ClientCredential cc = new ClientCredential(APPIDURI, CLIENTSECRET);
		try {
			service = Executors.newFixedThr

[2019-01-08 02:10] SomkaPe commented on #250
Looks like you are acquiring token using client credential grant, so not on behalf of user, but on behalf of application itself. In this case STS did not return refresh token, main purpose of refresh token is to reduce number of times when user have to authorize application access, since in client cred flow user is not involved there is no much sense to use refresh token.

[2019-01-08 09:20] Aldi11 commented on #250
Hi.
thank you very much for your response.
I want to retrive the refresh token because i want too reduce number of times when user have to authorize application acces.

How can i get it ?

[2019-01-28 02:33] muei commented on #117
@mozowski Hey, I have the same issue with you, are you solved the connection between azure and the aws cagnito with oidc?

[2019-01-28 11:16] mozowski commented on #117
@muei I have abandoned this project. I did not find a solution for that.

[2019-01-29 04:06] muei commented on #117
@mozowski Yes, there is just one way to use SAML.

[2019-02-06 17:13] julienlancelot commented on #247
I have the same issue, does someone knows how to fix it ?

[2019-02-08 22:25] sangonzal commented on #247
AdalClaimsChallengeException gets thrown when the tenant admin has set [conditional access](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview) policy. To fix this when using Authorization code flow, you should add some code where you catch the AdalClaimsChallengeException, and redirect the user to the authorization endpoint with the claims. For an example on how t

[2019-02-08 22:57] sangonzal commented on #246
@SummerSun @Eskibear Where you able to fix your issue?

[2019-02-11 10:06] julienlancelot commented on #247
Thanks for your answer @sangonzal.
In fact, I've been able to avoid receiving such errors : The OAuth request that I were sending to the Microsoft endpoint was wrong, the **resource** parameter were missing.
More information can be found here : https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code#request-an-authorization-code.

[2019-02-12 15:37] toshetah opened #253 "Token cache"
Hi!

I was wondering if there is a concept of token cache in the java implementation of this library.
In other libraries published by adal (e.g. .Net, python, and node) there is a default token cache, and implementation of refreshing tokens using the refresh tokens.
I couldn't find it in this repo.
Did I miss something? Is that on purpose? Are you planing on adding it?

Thanks!
@ohbitton as FYI.

[2019-02-12 18:10] sangonzal commented on #253
@toshetah You are right, ADAL4J does not have a token cache, and there are no current plans to add it. We are currently working on MSAL Java, which will have all features included in ADAL, as well as other features including the token cache, telemetry, and many other [things that come with MSALs](https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison)

[2019-02-12 18:11] sangonzal commented on #247
Thanks for confirming @julienlancelot

[2019-02-12 18:14] sangonzal commented on #249
@julienlancelot Were able to solve this offline with @jmprieur help?

[2019-02-12 18:15] #250 closed

[2019-02-13 09:14] toshetah commented on #253
Thanks Santiago! I'll be waiting for the v2 version.

[2019-02-13 09:14] #253 closed

[2019-02-13 09:27] julienlancelot commented on #249
Indeed, I forgot to do an update here, thanks to @jmprieur I've been able to get the name of the user by using the entry point /me from [Graph API](https://docs.microsoft.com/en-us/graph/api/user-get?view=graph-rest-1.0).
This issue is then solved

[2019-02-13 09:27] #249 closed

[2019-02-15 16:52] icetoad opened #254 "Unable to connect fetch token for client cert auth for Azure key vault."
This error is being thrown in one of the projects that uses a module that does the client cert based auth to connect to Azure key vault. The other projects, however, are able to use this module to successfully talk to the Azure KV. Any pointers?
`
java.lang.VerifyError: Cannot inherit from final class
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.def

[2019-02-15 17:38] sangonzal commented on #254
@icetoad What version of ADAL4J are you using? From poking around the internet, it seems that this can be caused by having multiple versions of a dependency in your classpath. Can you check if this project or any of it's dependencies is bringing in a different version of ADAL4J?

[2019-02-19 09:09] alexeyvino commented on #117
I suspect ID token loses signature when refresh of access token happens. This is what I observe. Straight after authentication it's all right with proper signature but after refresh of access token the id token is also refreshed and the new one doesn't seem to have a signature.

[2019-03-11 18:32] lpfeup commented on #248
Any updates regarding this issue?

I am having the same version conflicts, but with [pac4j-oidc](https://github.com/pac4j/pac4j/tree/master/pac4j-oidc), which depends on `oauth2-oidc-sdk` `v6.5`.

Had to pin `oauth2-oidc-sdk` to `v5.64.4` on `pom.xml` as temporary workaround.

[2019-03-14 04:37] chan4lk opened #256 "Using mobile access token for authentication"
I have a mobile app which gets token directly from azure login. And I have a service which is using adal4j in spring boot. I cannot use the mobile generated token to authenticate spring service. Becase I use two different azure app registrations for mobile and web service. Is there a way to accomplish this ?

[2019-03-19 17:58] sangonzal commented on #248
Apologies for the delay - we have create an item on the backlog to update `oauth2-oidic-sdk` version `6.5`. These changes should be completed by the end of the week. I will update this issue once a new release is out.

[2019-03-19 17:59] #254 closed

[2019-03-19 18:00] sangonzal commented on #246
Closing this issue due to inactivity. Feel free to reopen if you have any more questions.

[2019-03-19 18:00] #246 closed

[2019-03-19 18:01] #247 closed

[2019-03-19 18:02] #232 closed

[2019-03-20 01:48] Eskibear commented on #246
@sangonzal Thanks, it does work.

[2019-03-20 21:12] hau-mal opened #257 "Implicite datatype creation for datatype binary"
Would be good to have implicite type conversion. For a Spark SQL table with a column datatype binary writing without explicit schema  results in the following error:

com.microsoft.sqlserver.jdbc.SQLServerException: Column, parameter, or variable #14: Cannot find data type BLOB.

Correct implicite datatype creation would be good to have.

[2019-03-20 21:14] #257 closed

[2019-03-20 23:07] sangonzal commented on #256
@chan4lk Have you tried using on On-Behalf-Of flow? Here is some documentation that you might find useful: [ADAL4J Wiki](https://github.com/AzureAD/azure-activedirectory-library-for-java/wiki/Service-to-service-calls-on-behalf-of-the-user) and [Microsoft Docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-on-behalf-of-flow)

[2019-03-21 13:25] ayrjegan opened #258 "Service-to-service access token request - AADSTS50058: A silent sign-in request was sent but no user is signed in."
Need to access the registered app's APIs from a Daemon/Faceless account. Followed the below link and able to get the response as per the example:
[]https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow

However while using the bearer token to access the API, getting the below error:

[code]
![client_credentials1](https://user-images.githubusercontent.com

[2019-03-21 15:42] sangonzal commented on #258
@ayrjegan Is the client application registered in the Azure AD portal as a confidential/web application? Take a look at this (sample)[https://github.com/Azure-Samples/active-directory-dotnet-daemon], although it is for the ADAL.NET, it is for the same scenario and the application registration steps should be exactly the same.

[2019-03-22 05:15] ayrjegan commented on #258
Hi, yes the application is registered and it's working fine with AAD user credentials, tested with Authorization Code flow. I am testing the same application for client credentials workflow.

[2019-03-25 15:41] psignoret commented on #258
@ayrjegan The issue here is not that your client app is not able to use ADAL4J to obtain an access token, but instead, that the API you are calling is not accepting the access token. Your API is using [AADAuthenticationFilter] from the [Spring Boot Starter for Azure AD](https://github.com/Microsoft/azure-spring-boot/tree/master/azure-spring-boot-starters/azure-active-directory-spring-boot-starter)

[2019-03-28 03:00] chan4lk commented on #256
I added web registration as a required api inside mobile app registration. And the token generated from mobile is now accepted in adal4j. Thank you.

[2019-03-28 03:00] #256 closed

[2019-03-28 04:32] ayrjegan commented on #258
@psignoret Thanks for redirecting me to the existing issue & it helped solving my use case.

[2019-03-29 15:18] mwm-twx opened #260 "Authority validation boolean has no effect"
ADAL4J version 1.6.3

`AuthenticationContext` accepts a `validateAuthority` boolean, which is passed to `AuthenticationAuthority`.  While the boolean is used in `AuthenticationAuthority`, it doesn't actually prevent validation, as that occurs directly after the assignment:

[code]

`validateAuthorityUrl()` does not exit if `validateAuthority` is `false`.

[2019-03-29 23:58] sangonzal commented on #260
@mwm-twx There are two types of validation that happen here:

1. That authority URL is correctly formatted
2. That the authority is trusted by Azure AD.

The URL validation will always happen regardless of whether validateAuthority is set to true or false. The validateAuthority boolean is used for the second type of validation, which checks that the authority that was passed in is in the list of a

[2019-04-01 18:50] mwm-twx commented on #260
Okay.  So there is no way to use a non-https scheme with ADAL then?

[2019-04-02 18:10] sangonzal commented on #260
@mwm-twx that's right

[2019-04-02 18:10] #258 closed

[2019-04-02 18:30] mwm-twx commented on #260
Thanks.

[2019-04-02 18:30] #260 closed

[2019-04-04 06:23] mtuppad opened #262 "authenticate against on-premise OIDC server"
Can this library be used to authenticate against on-prem OIDC server.

Currently when we use this library this is the flow that followed.
1. User hits www.myapp.com
2. Since user is not authenticated, will redirected to Microsoft login page <<we need to avoid this>>
3. User enters email id and user is redirected to on prem OIDC end point - (Azure AD is configured this way) oidc-prod.mycorp.com
4.

[2019-04-05 21:53] sangonzal commented on #248
This has been included as part of  v1.6.4

[2019-04-05 21:53] #248 closed

[2019-04-05 21:55] sangonzal commented on #231
@JonathanGiles @brunoborges use of sun.security.util.Length has been removed as of v1.6.4

[2019-04-05 21:55] #231 closed

[2019-04-07 21:01] lpfeup opened #265 "Missing POM for adal4j v1.6.4"
Got the following error on `mvn compile` when updating to 1.6.4:

[code]

Checked https://mvnrepository.com/artifact/com.microsoft.azure/adal4j/1.6.4 and no Compile Dependencies are shown either.

Thanks in advance

[2019-04-08 18:42] sangonzal commented on #265
@lpfeup I have uploaded again and it is working locally for me. Can you try again and confirm whether or not it is working for you?

https://mvnrepository.com/artifact/com.microsoft.azure/adal4j/1.6.4  will probably take a couple of hours to update, but compile dependencies should be listed on there.

[2019-04-08 21:02] lpfeup commented on #265
@sangonzal I can confirm it is working now.

Thanks!

[2019-04-08 21:02] #265 closed

[2019-04-09 17:54] sangonzal commented on #262
@mtuppad what on-premise OIDC server and which authentication flow are you using?

[2019-04-10 08:34] mtuppad commented on #262
The on prem IDP is Ping Federate and we are using Oauth2 and OpenID connect.
Apps are based on Typescripts technology (Dojo or Angular) and backend are spring boot based rest APIs

[2019-04-24 09:20] varun-kulkarni24 opened #266 "Unable to reset password of a user : Insufficient privileges to complete the operation"
Hello,
I wan't to use Azure AD graph API(without any sign-in user info) in my java application, But I am getting error message "Insufficient privileges to complete the operation."

**Following is the code snippet :**

[code]

**This returns response as :**

```{"odata.error":{"code":"Authorization_RequestDenied","message":{"lang":"en","value":"Insufficient privileges to complete the operation."},"

[2019-04-25 07:41] #238 closed

[2019-04-30 17:17] RSteeno opened #267 "Token Usage"
I have a general question around the use of this library.  I see that it states it supports the MS Graph API as well as 3rd party APIs (assume those registered in AAD).  Can this library be used to request a token that can be used to access the SharePoint/Project Online Rest APIs (non-MS Graph version)?

[2019-04-30 18:15] sangonzal commented on #266
@varun-kulkarni24 I don't see permissions listed for resetting passwords or deleting users in the screenshot you attached. I would make sure those permissions are granted to your application.

[2019-04-30 18:20] sangonzal commented on #267
As long as you can grant your application access to the API in the azure portal, you can use use this library. I believe the azure portal lets you set permission for Sharepoint APIs. Is this what you are looking for?
![portal2](https://user-images.githubusercontent.com/35743865/56984016-e1603f80-6b39-11e9-91a7-b7e7395b5333.PNG)

[2019-04-30 18:28] sangonzal commented on #235
@fiechter ADAL4J 1.6.3 and higher now has support for non-interactive sign-in with Integrated Windows Authentication when Seamless SSO is enabled.

[2019-04-30 18:28] #235 closed

[2019-04-30 19:24] RSteeno commented on #267
Well, my ultimate goal is to get some data from the Project Online API from Java.  It is proving to be quite a complex process to get an authentication token and i was hoping that this SDK had it built it.

**First Approach - SharePoint Add-On (app principal)**
First step was to register a SharePoint Add-In and grant specific AddIn permissions to the add-in: https://docs.microsoft.com/en-us/sharep

[2019-05-03 01:12] sushilraje opened #268 "AADSTS90013: Invalid input received from the user. When using secret with "<""

[2019-05-03 01:34] #268 closed

[2019-05-03 09:33] thikon commented on #266
@varun-kulkarni24 i tried to allow all of the application and delegated permission and the result is "Insufficient privileges to complete the operation." (same your result)

Did you add some config about reset password policy on acquire token step?

[2019-05-14 15:02] sathishscjp1 opened #269 "Azure AD with Jdk 1.6 and Servlet web application"
This is clarification regarding Azure AD integration with Java and J2EE (JSP and Servlet) base web application. Current web application details: It is legacy Java and J2EE(JSP and Servlet) based web application running in JDK 1.6, IBM WAS 8.5 with LDAP AD and site-minder as existing login mechanism. we are exploring possibility to replace login mechanism with Azure AD from LDAP AD. From different

[2019-05-15 20:29] sangonzal commented on #266
@varun-kulkarni24 @thikon It seems that the reset password and delete user API's require you to be an administrator in the tenant. Refer to this [issue](https://github.com/Azure/azure-sdk-for-node/issues/2280) for more information.

[2019-05-16 02:31] sathishscjp1 commented on #87
Cant we run ADAL4j for web application which is running JRE 1.6

[2019-05-16 23:48] sangonzal commented on #269
@sathishscjp1
1) and 3) all features of adal will work with JDK 1.6. and JDK 1.7
2) Redirect happens at the application level. See [web sample](https://github.com/Azure-Samples/active-directory-java-webapp-openidconnect) for reference.

[2019-05-20 01:44] BingjieGao opened #270 "Error Azure Active Directory is only supported on Windows operating systems"
Regarding the connection issue to Azure SQL server database with Azure Active Directory, running into an error and hopefully we could get official support on this. Thank you!

---

_Details:_
- **System details:**  Ubuntu 16.04.3 LTS (GNU/Linux 4.15.0-1039-azure x86_64)

- **Programming Language:** Java

- **classpath jar file:** sqljdbc42.jar

- Detailed **Error Response** from below code snippet

[2019-05-20 18:20] sangonzal commented on #262
@mtuppad I believe this will not work. This is not a scenario we support or which we have tested.

[2019-05-20 18:23] sangonzal commented on #270
@BingjieGao This exception is coming from com.microsoft.sqlserver. I think the [mssql-jdbc github](https://github.com/microsoft/mssql-jdbc ) page might be a better place for this issue.

[2019-05-20 23:44] sangonzal commented on #253
Hi @toshetah, just wanted to provide an update on the v2 version - we have release MSAL and it now how support for caching tokens. You can find it in the [MSAL github repo](https://github.com/AzureAD/microsoft-authentication-library-for-java). Happy to help with any questions/ problems you run into as you work to migrate your code over.

[2019-05-20 23:47] sangonzal commented on #125
Hi @matiman , @kriede, @coyote1980 we now [MSAL for Java](https://github.com/AzureAD/microsoft-authentication-library-for-java), which works with the v2 endpoint. Happy to help with any questions/problems that you might run into as you get acquainted with MSAL

[2019-05-20 23:50] sangonzal commented on #114
Implemented in the web-app sample

[2019-05-20 23:50] #114 closed

[2019-05-22 04:05] BingjieGao commented on #270
@sangonzal Ok, thank you

[2019-05-22 09:07] sathishscjp1 opened #271 "ADAL Libraries for JDK 1.6 with app server"
Please share links to find ADAL library which will work in JDK 1.6
OR
converting/change the ADAL 1.6.4 library sources into JDK1.6 compatible, will it be advisable? did this for POC and working for login but yet to check for graph APIs.

[2019-05-22 11:33] sathishscjp1 commented on #271
requirement is to use Azure Ad for web application authentication and use graph APIs as well. this for JDK 1.6

[2019-05-22 15:41] sangonzal commented on #271
@sathishscjp1 ADAL v1.6.4 should work with JDK1.6. out of the box, no changes necessary. If that is not the case, please share the errors that you are running into, and we can try to address those.

This looks like a duplicate of #269, so closing that one.

[2019-05-22 15:41] #269 closed

[2019-05-22 23:06] dspurling commented on #155
When providing an SSLTunnelSocketFactory to the AuthenticationContext the createSocket methods of the SSLTunnelSocketFactory are never called.

[2019-05-24 13:48] sathishscjp1 commented on #269
Hi,
Please find the below error when i am running the application.

[5/24/19 19:09:24:721 IST] 00000027 FfdcProvider  W com.ibm.ws.ffdc.impl.FfdcProvider logIncident FFDC1003I: FFDC Incident emitted on D:\Program Files (x86)\IBM\WebSphere\AppServer\profiles\AppSrv01\logs\ffdc\server1_4f125c00_19.05.24_19.09.24.6025902354203323141992.txt com.ibm.ws.webcontainer.filter.WebAppFilterManager.loadFilter

[2019-05-24 14:30] sathishscjp1 commented on #271
Hi,
Please find the below error when i am running the application.

[5/24/19 19:09:24:721 IST] 00000027 FfdcProvider W com.ibm.ws.ffdc.impl.FfdcProvider logIncident FFDC1003I: FFDC Incident emitted on D:\Program Files (x86)\IBM\WebSphere\AppServer\profiles\AppSrv01\logs\ffdc\server1_4f125c00_19.05.24_19.09.24.6025902354203323141992.txt com.ibm.ws.webcontainer.filter.WebAppFilterManager.loadFilter

[2019-05-28 09:47] sathishscjp1 commented on #271
Any further help would be great

[2019-05-28 20:15] sangonzal commented on #271
@sathishscjp1 Apologies, I was mistaken when I said ADAL should work with Java 6. After discussing with the team here, and checking the [pom history](https://github.com/AzureAD/azure-activedirectory-library-for-java/commit/f99b967990c9a0267589638de7817a28568dc252#diff-600376dffeb79835ede4a0b285078036), the compiler plug-in was updated to target 1.7. I took a look to see if we could move this back

[2019-05-28 20:22] sangonzal commented on #269
Updating issue for anyone who might see this in future: Apologies, I was mistaken when I said ADAL should work with Java 6. ADAL will only work with Java 7 and above. Discussion about this in #271

[2019-05-31 07:11] sathishscjp1 commented on #271
Such case, we took source for this below 2 libraries and tweaked somehow the recent JDK feature to make this work with JDK 1.6. Now the "active-directory-java-webapp-openidconnect-master" is working fine for one test azure ad account.

What is your suggestion to take this forward for application?

1. oauth2-oidc-sdk-5.24.1
2. adal4j

one minor issue facing is, when connecting through mobile intern

[2019-06-03 07:58] sathishscjp1 commented on #271
Please help further suggestion.

[2019-06-05 18:46] sangonzal commented on #271
@sathishscjp1 The certificate error is related to your websphere configuration, and not adal4j. It seems that you need to download the CN=Baltimore CyberTrust Root and add it to your keystore. A simple online search shows [guidance from IBM](https://www-01.ibm.com/support/docview.wss?uid=swg21369939) on how to diagnose and resolve the exact cert chaining issue that you are running into.

I'm not s

[2019-06-10 19:29] sammycakes commented on #136
I got this same error. My problem was that even though the registered Native-Headless-Application Redirect URI type was public client (mobile and desktop), that wasn't enough for Azure to treat this as a native app. So from App registrations-->clicking on the Native-Headless-Application --> click on "Authentication", I had to scroll down to "Default Client Type" and select "Yes" to treat the appli

[2019-06-11 02:32] solokingjec commented on #26
@kpanwar do you have an implementation on how to get the user group of the current user?

[2019-06-11 22:08] sangonzal opened #272 "Proxy authentication with SSLTunnelSocketFactory does not work"
- Create an SSLTunnelSocketFactory
- Set SSLSocketFactory on the AuthenticationContext
- Make a call through a proxy that requires authentication

Two connect calls are made. The first one does not go through the proxy. If you manually set the proxy, the first call will error out with "HTTP/1.0 407 Proxy Authentication Required"

[2019-06-11 22:10] #270 closed

[2019-06-11 22:11] #262 closed

[2019-06-17 20:13] mores opened #273 "Not working with "Manage app passwords for two-step verification""
Our Admins have turned on app passwords following this guide: https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-app-passwords

When trying to use this username and password with adal4j, we are unable to login and receive the following stack trace:
`        at com.microsoft.aad.adal4j.HttpHelper.readResponseFromConnection(HttpHelper.java:84) ~[ad

[2019-06-17 21:34] #266 closed

[2019-06-17 21:34] sangonzal commented on #271
Closing due to inactivity.

[2019-06-17 21:34] #271 closed

[2019-06-17 22:08] sangonzal commented on #273
@mores Username and password flow will not work with MFA or any other conditional access policy. MFA requires an interactive flow to be use (such as [authentication code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code) ), so the STS has the opportunity to present a dialog to the user to providing details about the MFA.  There is a [wiki page](https://g

[2019-06-20 08:33] vadivuk commented on #211
I have set the query params in state,hit sendauthRedirect and retrieved the same in processAuthenticationData. Not sure how to append the params with redirect url. If I try to append it, still the redirect url is not loaded with query params. I tried to set the params in query params object, still not working.

[2019-06-27 04:20] henrik-me opened #274 "Create QuickStart sample"
Create a quick start, concept to be found here:
Javascript qs, notice how we are using
tags for what goes to the portal and docs.
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-javascript

The md file from docs and convert it into HTML based on the tags for it to surface in portal.
Detailed instructions shared internally.

[2019-06-27 04:23] henrik-me commented on #274
removing wrong repo

[2019-06-27 04:23] #274 closed

[2019-06-28 15:31] wassimmansour opened #275 "daemon certificate credential"
The dotnetcore library has the ClientAssertionCertificate class that allows getting a token using a clientId and a certificate. I need to do the exact same thing except in Java. Is there a way to achieve that using this library?

Thanks.

[2019-06-28 16:24] sangonzal commented on #275
@wassimmansour Yes what you are looking for is [AsymmetricKeyCredential](https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/main/java/com/microsoft/aad/adal4j/AsymmetricKeyCredential.java).

As a side note: We have released a preview of [MSAL Java](https://github.com/AzureAD/microsoft-authentication-library-for-java), which has support for the Microsoft V2 endpoint, as

[2019-06-28 17:12] wassimmansour commented on #275
@sangonzal Thank you very much for the quick response.

[2019-06-28 17:12] #275 closed

[2019-07-02 17:20] mhp0rtal opened #276 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/com/microsoft/aad/adal4j/AsymmetricKeyCredential.java: Line number => 163: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR> File name => src/main/java/com/microsoft/aad/adal4j/AsymmetricKeyCredential.java: Line number => 194: API name => MessageDigest:<BR> File name => src/main

[2019-07-02 17:57] sangonzal commented on #276
@mhp0rtal The lines you have pointed out are not aligned to the APIs you are listing - for example line [163] points to this (https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/main/java/com/microsoft/aad/adal4j/AsymmetricKeyCredential.java#L163). Can you please clarify?

I'm assuming you are taking about this [line](https://github.com/AzureAD/azure-activedirectory-libr

[2019-07-02 18:20] #273 closed

[2019-07-02 18:32] sangonzal commented on #212
Fixed by the service

[2019-07-02 18:32] #212 closed

[2019-07-15 23:57] sangonzal commented on #276
Seems to be a bot spamming hundreds of libraries: https://github.com/mob41/broadlink-java-api/issues/22

[2019-07-15 23:57] #276 closed

[2019-07-17 17:31] nddipiazza opened #277 ""The server was unable to process the request due to an internal error" when using app-only auth with only client ID and client secret"
We created a Sharepoint Online application so we can do app-only auth.

We followed these steps to create an app.

https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/security-apponly-azureacs

We want to avoid using a refresh token if possible when doing app-auth with SharePoint online from a third-party Java application, and we don't to use the private-key either.

Code snippet we

[2019-07-19 00:14] sangonzal commented on #277
@nddipiazza If I'm understanding correctly, you are able to acquire a token successfully but then running into issues using this token with SharePoint online?  Have you tried to follow any of the debugging steps provided in the error message?

[2019-07-19 03:19] nddipiazza commented on #277
That's correct. I was able to reverse engineer the oauth process by using `OfficeDevPnP.Core` source code. We should compare and make sure that it is expected a token from ADAL4J's acquireToken is expected not to work in sharepoint online when using only clientID, clientSecret.

[2019-07-19 19:12] sangonzal commented on #277
@nddipiazza I see. In this case, I'm not sure this is the right channel for this issue. From ADAL4Js perspective, if you are able to acquire a token from Azure AD for a given resource successfully, then ADAL's job is complete.  I'm not sure how Sharepoint is validating or using tokens on their end that is causing the internal error (I also don't have access to that server). I would reach out to th

[2019-07-31 01:20] #277 closed

[2019-08-12 16:46] SErfkamp opened #278 "Why do specific Overloads of acquireToken(..) do not return refreshTokens?"
Hey,

Title is basically the questions.
Some overloads of acquireToken(..) do not return refreshTokens while others do.
For example if using ClientCredentials.

What is the expected behavior? Should we handle the token expiry ourselves and schedule a job that refreshes the AccessToken before it expires - or is there a different way to handle this?
I am not that experienced with auth/tokens in gene

[2019-08-12 17:02] sangonzal commented on #278
@SErfkamp This is expected behavior. Refresh tokens is an oauth artifact introduced to try and reduced the number of times that end users are being prompted and asked to grant permissions. For flows where the is no user involved (for example ClientCredentials, in which a token is issued to the application and not an user itself), having a refresh token provides no real value (Since there wouldn't

[2019-08-12 17:08] sangonzal commented on #278
Also I would recommend you take a look at [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-java), a new library that builds on ADAL and adds a lot of great [features](https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/changelog.txt). Although ADAL is not being deprecated, we will not add any more features to it going forward.

[2019-08-13 07:26] SErfkamp commented on #278
Thanks a lot for the explanation. It is clear now and does make a lot of sense. Feel free to close this issue!

I was confused as I was assuming that a refresh token was best practice, because it could be leaner or maybe because credentials must not be sent again - but it seems it is only thought for User-Interaction.

[2019-08-14 16:31] #278 closed

[2019-10-17 18:59] #125 closed

[2019-10-17 19:00] #180 closed

[2019-10-18 09:37] tarry87 commented on #38
Hi Team,

im getting the below error :

Login-AzAccount : AADSTS50034: The user account {EmailHidden} does not exist in the xxxx directory. To sign into this application, the account must
be added to the directory.
Trace ID: 7b9c49f2-61a9-42e8-990c-afaef7da6b00
Correlation ID: 1f6e26cf-1a28-4626-8382-4798faa86b0c
Timestamp: 2019-10-18 09:26:31Z
At line:1 char:1
+ Login-AzAccount -Credential $cred

[2019-11-13 00:02] davidmoten opened #280 "AdalCallable logs ERROR when acquireToken fails"
When I call `AuthenticationContext.acquireToken` and there is a temporary network glitch then an ERROR  line is written to the log by `AdalCallable`. This is undesirable for us because we monitor the log for ERROR level lines and an alert goes to on-call. The reality is we don't care about temporary network glitches because we retry every 30s and our monitoring has coverage for long outages.

The

[2019-11-14 18:48] sangonzal commented on #280
@davidmoten ADAL is now in maintenance mode, and we will only release new versions for security fixes. Have you considered using [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-java)?

[2019-11-15 03:09] davidmoten commented on #280
@sangonzal thanks for that. I've patched the library for our own use and we'll move to MSAL later.

[2019-11-15 03:09] #280 closed

[2020-01-04 08:15] manikandanramaswami commented on #134
I am getting this issue when ADAL4J is used by MSSQL-JDBC 7.4.0 driver under Cold Fusion 11 Environment. This enhancement is much needed for me. I made it work successfully by adding `new URL(null, <URL>, new sun.net.www.protocol.https.Handler())` and recompiling ADAL4J
Adding `-DUseSunHttpHandler=true` in Cold Fusion JVM arguments didn't make any difference unfortunately.

[2020-01-06 17:33] sangonzal commented on #134
@manikandanramaswami ADAL is now in maintenance mode, and we will only release new versions for security fixes. Have you considered using [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-java)? As of version 1.1.0, MSAL allows for configuring of Http Client. Here is the [wiki page](https://github.com/AzureAD/microsoft-authentication-library-for-java/wiki/Configure-Http-Client

[2020-01-06 17:33] #134 closed

[2020-01-10 22:20] sangonzal commented on #98
ADAL4J is in maintenance mode and no new features will be added going forward except for security fixes. All our ongoing efforts will be focused on improving MSAL4J. This feature has already been added to MSAL.

[2020-01-10 22:20] #98 closed

[2020-01-10 22:20] sangonzal commented on #127
ADAL4J is in maintenance mode and no new features will be added going forward except for security fixes. All our ongoing efforts will be focused on improving MSAL4J.

[2020-01-10 22:20] #127 closed

[2020-01-10 22:24] sangonzal commented on #245
ADAL4J is in maintenance mode and no new features will be added going forward except for security fixes. A workaround has been provided in MSAL4J, by allowing users to configure Http client.

[2020-01-10 22:24] #245 closed

[2020-01-10 22:26] sangonzal commented on #272
ADAL4J is in maintenance mode and no new features will be added going forward except for security fixes.  A workaround has been provided in MSAL4J, by allowing users to configure Http client.

[2020-01-10 22:26] #272 closed

[2020-01-10 22:49] sangonzal commented on #120
ADAL4J is in maintenance mode and no new features will be added going forward except for security fixes. All ongoing efforts will be focused on improving [MSAL4J](https://github.com/AzureAD/microsoft-authentication-library-for-java).

If you run into this issue with MSAL4J, please open an issue.

[2020-01-10 22:49] #120 closed

[2020-01-10 22:56] sangonzal commented on #211
@abbhhiisseek Yes this is the right approach. Ensure that the state parameter is base64url-encoded.

@vadivuk As psignoret stated above in his answer, appending query parameters to the redirect url is not supported by the AzureAD service.

[2020-01-10 23:32] sangonzal commented on #186
@SreeramGarlapati ADAL4J is in maintenance mode and no new features will be added going forward except for security fixes. All our ongoing efforts will be focused on improving [MSAL4J](https://github.com/AzureAD/microsoft-authentication-library-for-java). If this is still of concern to you feel free to open an issue on the MSAL repository.

[2020-01-10 23:32] #186 closed

[2020-01-10 23:46] sangonzal commented on #267
@RSteeno were you able to solve this issue? This is a question for the SharePoint team - they might have a Sharepoint CSOM for Java.

[2020-01-28 17:31] yubhat opened #282 "Tokens generated using adal 1.2.0 (python) works but those generated using adal4j 1.6.0 do not Azure Active Directory App Integration and Development"
Using adal 1.2.0(python) and adal4j 1.6.0(java) to generate access tokens using username and password. The resource ids and the client app ids are the same in both cases. However, while the token generated via the python sdk works perfectly, the token generated via the java sdk does not.

Python is giving audition as SPN:Client_ID
Java is giving audition: Client_ID
Kubernetes service expect auditi

[2020-01-28 17:37] sangonzal commented on #282
@yubhat The reason this is happening is because ADAL Python hardcodes the api-version in the endpoints they are hitting ("api-verseion=1.0"), while Java does not. ADAL Java is in maintenance mode and we are not making updates unless they are security related.

Do you own the Kubernetes service which you using the token for?

[2020-01-29 17:56] #267 closed

[2020-01-29 17:57] #211 closed

[2020-01-31 10:21] chatter92 commented on #282
@sangonzal unfortunately, we dont own the Kubernetes service, hence we cannot make any changes there. If there is any way in which we can pass the api-version via the java sdk (adal or msal), it will solve this issue for us.

[2020-01-31 17:49] rayluo commented on #282
@yubhat Out of curiosity, how do you initialize ADAL Python in your code? Did you explicitly use [its `api_version` parameter](https://adal-python.readthedocs.io/en/latest/#adal.AuthenticationContext)? In their [recent samples](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/1.2.0/sample/device_code_sample.py#L54), that parameter is typically left undefined in order to tri

[2020-02-03 05:54] chatter92 commented on #282
@rayluo yes, we have explicitly set api_version to 1.0 in our script.

[2020-02-03 16:00] sangonzal commented on #282
@yubhat @chatter92 ADAL is in maintenance mode and we are not planning on making changes unless they are security related.

The Kubernetes service should accept tokens with the new format. Have you tried contacting the owners and asking them to update?

[2020-02-03 17:16] rayluo commented on #282
@chatter92 Thanks for sharing this info! Back then when I implemented that `api_version` parameter in ADAL Python so that developers could opt in for the old behavior for backward compatibility, we did not exactly know which service(s) would require such old behavior. Now I/we learn from you that "Kubernetes service expects audience as SPN:Client_ID".

As @sangonzal correctly pointed out, ideally

[2020-02-04 10:19] chatter92 commented on #282
@rayluo we did try using the MSAL java library (1.1.0), but it looks like even that is generating tokens without the "spn" prefix, so it didnt work with our cluster.
It is possible that the k8s clusters that we use are on an older version, and as @yubhat  had mentioned, a PR was raised on the Kubernetes repo for the same: https://github.com/kubernetes/kubernetes/pull/86412
But it was fairly recent

[2020-02-04 17:34] rayluo commented on #282
@chatter92 Your research effort on this topic is amazing!

Given that the [Kubernetes side has fixed this](https://github.com/kubernetes/kubernetes/pull/86412) and is probably in the process of releasing/rolling out their new version, would you consider checking their release plan and see if you can wait? Because, even if you somehow find a workaround to add that legacy `api_version=1.0` behavior

[2020-02-05 10:35] chatter92 commented on #282
Yeah that's the thing. We don't know when we will get an update on the cluster, so we dont know how long we have to wait. If you can expose this api_version parameter, we can keep it configurable in our service in, say, a properties file. So today, that property can say api_version=1.0. Tomorrow, when they do rollout the fix, we can just update the properties file to say api_version=2.0 or somethi

[2020-03-28 19:11] sara85sara opened #291 "object aad is not a member of package com.microsoft"
I am getting following message in databricks, even though I have installed adal4j package.

import com.microsoft.aad.adal4j.ClientCredential
import com.microsoft.aad.adal4j.AuthenticationContext
import java.util.concurrent.Executors

val TenantId = "******************";
val authority = "https://login.windows.net/" + TenantId;
val resourceAppIdURI = "https://database.windows.net/";
val ServicePrinc

[2020-03-28 19:37] sangonzal commented on #291
@sara85sara How did you add adal4j into your project?

[2020-03-28 19:45] sara85sara commented on #291
I installed from maven library package from databricks... Now I have un-installed the package and downloaded the jar from maven and loaded back to databricks DFS.  now getting the token. but its not consistent.. I have restart the cluster everytime...

[2020-03-28 19:52] sangonzal commented on #291
@sara85sara this is a question for the databricks team, nothing we can do on our end.

[2020-03-28 23:15] #291 closed

[2020-07-07 06:57] toshetah opened #292 "x509CertThumbprint is deprecated"
x509CertThumbprint at the nimbus library is deprecated.
It is used at [JwtHelper](https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/d2afdbbc5db9d4b056225379c0ec51412942331d/src/main/java/com/microsoft/aad/adal4j/JwtHelper.java#L77) helping acquiring the JWT.
In addition, according to [Microsoft identity platform access tokens](https://docs.microsoft.com/en-us/azure/active-dire

[2020-07-27 17:29] henrik-me commented on #292
@toshetah, we highly recommend that you are moving to msa4j, the updated auth library. We are not planning any updates to adal4j. If you see any issues using msal4j please let us know.
Our Migration guide is available here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/migrate-adal-msal-java

[2020-07-27 17:30] henrik-me commented on #292
I'm closing this issue, however feel free to re-active with additional information.

[2020-07-27 17:30] #292 closed

[2020-07-27 17:31] henrik-me commented on #282
Closing. We will not be addressing this in adal4j.

Migrating to MSAL can be found here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/migrate-adal-msal-java

[2020-07-27 17:31] #282 closed

[2020-09-10 19:08] vcolin7 opened #293 "Make library dependencies have an upper version limit."
The current POM has a lot of dependencies that use the a versioning format such as this `[1.5,)`:

![image](https://user-images.githubusercontent.com/5799331/92787612-1ac7d280-f35e-11ea-8ee6-3d8872f28a1b.png)

This can cause projects that use these libraries fail since the dependencies can get updated with breaking changes such as what happened on [this issue](https://github.com/Azure/azure-sdk-fo

[2020-09-10 19:11] joshfree commented on #293
Relevant info quoted from @mercer on https://github.com/Azure/azure-sdk-for-java/issues/14898

[2020-09-10 21:41] bganapa commented on #293
The issue is being hit thru azurestack combatible azure SDK as well
java.lang.NoSuchMethodError: 'net.minidev.json.JSONObject com.nimbusds.jwt.JWTClaimsSet.toJSONObject()'
..
         at com.microsoft.aad.adal4j.AuthenticationContext.createClientAuthFromClientAssertion(AuthenticationContext.java:941)
         at com.microsoft.aad.adal4j.AuthenticationContext.acquireToken(AuthenticationContext.java

[2020-09-13 14:36] slavag opened #294 ""AADSTS700003: Device object was not found in the tenant" issue started since the beginning of September"
Hi,
We see lot of issues (and it's increasing) across many tenants, when we're trying to acquire token  :
AuthenticationContext.acquireTokenByRefreshToken :
Sep 13 13:55:26 Caused by: com.microsoft.aad.adal4j.AuthenticationException: {"error_description":"AADSTS700003: Device object was not found in the tenant 'xxxx' directory.\r\nTrace ID: 154e5983-63d2-4c61-bcc1-717dc2169400\r\nCorrelation ID: f

[2020-09-14 19:26] sangonzal commented on #294
Hi @slavag, there have been no changes in the library, so I suspect this might be related to changes happening on the service. Could you please share the configuration values for applications where you are seeing issues so we can investigate further? Value for authority, tenant id, client id, and resource would be a good start. Feel free to email them via email to sagonzal @ microsoft if you would

[2020-09-14 19:56] slavag commented on #294
@sangonzal Thanks, will send you in private.

[2020-09-15 03:47] SomkaPe commented on #293
@vcolin7  @joshfree  pom.xml on screenshot is not pom.xml of this project.
pom.xml in this project uses specific versions of dependencies

[2020-09-15 19:48] vcolin7 commented on #293
@SomkaPe I misworded what I meant to say: ADAL4J `1.6.4` has a dependency ([com.nimbusds:oauth2-oidc-sdk:6.5](https://search.maven.org/artifact/com.nimbusds/oauth2-oidc-sdk/6.5/jar)) that has a few dependencies of its own in the format of what is shown in the picture: `[1.5,)`. This causes problems when these transient dependencies introduce breaking changes such as the ones describe in [this issu

[2020-09-16 18:25] SomkaPe commented on #293
@vcolin7  Thanks for clarification, I am going to update "com.nimbusds:oauth2-oidc-sdk" dependency to 7.4, that version does not use open-ended version ranges

[2020-09-16 23:56] vcolin7 commented on #293
As an additional note, the folks from Nimbus [mentioned](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/314/make-library-dependencies-have-an-upper#comment-58791157) that all dependencies have closed ranges in 8.x

[2020-09-17 11:58] ravitheja07580 opened #299 "MSAL Java AcquireToken service is returning invalid access token sometimes in MSAL java web"
Dear Team,

We are using MSAL java library in our spring boot application to authorize user and retrieve the access token for a custom web api scope: api://xxxxxxxx/access_as_user.   We are using below sample code  in our application and made changes accordingly to our application where the user will be redirected to MS login page and then gets to redirected to an end point with authorization code

[2020-09-17 21:41] SomkaPe commented on #293
@vcolin7  1.6.6 version was released with updated "com.nimbusds:oauth2-oidc-sdk" dependency to 7.4.
This version is tested and used in msal4j.

[2020-09-17 23:55] #293 closed

[2020-09-22 18:23] sangonzal commented on #299
@ravitheja07580 Seems like this is an issue with MSAL - could you open up the issue in the right [repository](https://github.com/AzureAD/microsoft-authentication-library-for-java/)?

Steps to reproduce the error would be helpful in getting the issue resolved in a quick manner. Thanks.

[2020-09-22 18:23] #299 closed, assigned to nobody

[2020-09-22 18:25] sangonzal commented on #294
Discussed via email. Posting answer here in case anyone runs into this issue in the future:

The AAD service has shipped a security fix to validate that a device that matches the deviceId claim from a token is actually read from directory and is enabled irrespective of device based conditional access policies.

The reason that the tokens are rejected is because the presence of the deviceId claim i

[2020-09-22 18:25] #294 closed

[2020-10-29 18:33] ashwanikumar04 commented on #72
nimbus-jose-jwt

[2020-12-24 02:25] ZhuXiaoBing-cn opened #300 "Confusion arises when using Graph, Office combined permission to get access Token"
When I try to get an access token by using the combined Graph and Office permissions, I need to conduct administrator approval.
Here is my configuration on the portal,
![image](https://user-images.githubusercontent.com/71206407/102965089-164bb200-4528-11eb-92f5-21912a718cc8.png)

I used postman to get an access token, and the scope looks like this,
![image](https://user-images.githubusercontent.co

[2020-12-28 20:24] sangonzal commented on #300
@ZhuXiaoBing-cn If you add `Calendars.Read` on the Azure portal, you'll see that Admin Consent is not required, and thus why you see the difference. See picture below.
![GithubIssue](https://user-images.githubusercontent.com/35743865/103241300-c4889a80-4920-11eb-827a-cf575ef998e6.PNG)

When you add `activityfeed.Read` and `Calendars.Read`, you'll need admin approval, because `activityfeed.Read` re

[2020-12-30 05:47] ZhuXiaoBing-cn commented on #300
@sangonzal Thank you for your reply and suggestions. These are helpful to me.

[2020-12-30 05:48] #300 closed, assigned to nobody

[2021-01-05 20:24] GiamBoscaro opened #301 "adal4j with java 6"
Good evening,

I need to use adal4j on an old java 6 project. I am wondering where can I find an older version of adal4j that works with java 1.6, or what can I do to make it work. Any help?

Thank you

[2021-01-05 20:35] sangonzal commented on #301
@GiamBoscaro The library uses Java 7 features throughout the codebase, so it will not work with Java 6. If really needed (not recommending this) you could fork the code and try to removing them. I haven't looked into this, so not sure how much work it would be. Would it be possible to update the project you are working on to use Java 7?

Also note that ADAL is deprecated and will not receive updat

[2021-01-05 20:44] GiamBoscaro commented on #301
I know it is deprecated, but the project I am working on it's really old and I just need to make it work for a year more or so. Porting to java 7 it is becoming a real pain so I'd just like to find a way to make adal4j work on java 1.6 or maybe find an alternative library.

[2021-01-05 20:49] sangonzal commented on #301
@GiamBoscaro What scenarios are you trying to support in your application?

[2021-01-05 20:56] GiamBoscaro commented on #301
I need to do a few calls to a new api that is authenticated via azure. I'll be as lazy as possible so I'll probably just need to get the token every api call, set the header and send the request

[2021-01-05 21:33] sangonzal commented on #301
@GiamBoscaro Is your application a desktop app/ command line app or a web app/ web API? Do you need to get tokens for an user or for your application? The different ways that ADAL acquires tokens are explained [here](https://github.com/AzureAD/azure-activedirectory-library-for-java/wiki/Acquire-tokens).

[2021-01-06 09:06] GiamBoscaro commented on #301
It's a web application. I only have an application ID and secret, so I need to authenticate the application but not the user. I should refresh this token every 30 mins-1hr, but I'll just be lazy and just send a new auth request before every api call.

I have already read the guide on how to acquire tokens and indeed it works (from what I remember I was using the method `acquireTokenByAuthorization

[2021-01-06 10:13] liangkunJoin opened #302 "can use it for SCIM"
In my application, it needs to be associated with Microsoft's pre configured functions. The official code is the C # version, but I only know Java. Can I encapsulate Microsoft's underlying verification related requests through your lib package.can your give me a java demo for SCIM. Thanks!

[2021-01-06 16:09] sangonzal commented on #301
@GiamBoscaro The most straightforward way would probably be to create the Http request yourself. You would use client credentials grant. [This doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#get-a-token) shows the required parameters. You could also use an Java Oauth2 library that supports Java 6 if that makes it easier for you.

Closing this

[2021-01-06 16:09] #301 closed, assigned to nobody

[2021-01-06 16:14] sangonzal commented on #302
@liangkunJoin ADAL only supports OAuth2.0 and OpenID Connect. SCIM seems to be a different protocol, which is not supported by either ADAL or [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-java)

[2021-01-08 01:23] #302 closed, assigned to nobody

[2021-02-15 15:26] baidehig opened #303 "java.lang.NoClassDefFoundError: com/nimbusds/oauth2/sdk/http/CommonContentTypes"
I am trying to get the Azure bearer token from my spring 5.1.x application, added the com.azure.adal4j-1.6.6 jar and oauth2-oidc-sdk-9.1 jar.

Took reference from - https://docs.microsoft.com/en-us/archive/blogs/azureossds/authenticating-azure-resource-management-rest-api-requests-using-java

On running my application, getting below error:
Exception in thread "main" java.util.concurrent.ExecutionE

[2021-02-15 16:16] sangonzal commented on #303
@baidehig ADAL is no longer receiving updates and will soon be deprecated. Please take a look at [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-java), which is the V2 library and supports all scenarios that ADAL supports. If you run into any issues using MSAL, please open an issue in that repository.

[2021-02-15 16:16] #303 closed, assigned to nobody

[2021-03-18 09:01] vitaliidasaev commented on #38
for tenant authentication try to use User Principal Name instead of email

[2021-03-26 10:44] amignano commented on #79
In your POM try adding

`
<plugin>
<groupId>org.springframework.boot</groupId>
	<artifactId>spring-boot-maven-plugin</artifactId>
	<configuration>
		<mainClass>com.places.Main</mainClass>
	</configuration>
</plugin>
`

[2021-03-26 10:45] Xfox1 commented on #79
In your POM try adding

`<plugin> <groupId>org.springframework.boot</groupId> <artifactId>spring-boot-maven-plugin</artifactId> <configuration> <mainClass>com.places.Main</mainClass> </configuration> </plugin>`

[2021-04-21 14:39] PayalDodeja opened #305 "Latest adal4j 1.6.6 uses oauth2-oidc-sdk 7.4 which is vulnerable to XXE Injection"
ADALJ latest 1.6.6 uses version 7.4 of oauth2-oidc-sdk which is supposedly vulnerable to XEE Injection.
Refer: [https://snyk.io/vuln/SNYK-JAVA-COMNIMBUSDS-1243767](url)

The issue was reported as part of sonatype-2021-0429, with CWE:[611](https://cwe.mitre.org/data/definitions/611.html)

If we move to the version with the fix for oauth2-oidc-sdk, that is version 8.36.2, version 9.3.1 and above , i

[2021-04-27 18:40] sangonzal commented on #305
Thanks for reporting this @PayalDodeja we will work to update oauth2-oidc-sdk and will release a new version of ADAL with update dependencies by the end of the week.

[2021-04-30 04:06] cbbrsc commented on #38
I'm using User Principal Name and I have the same error

[2021-04-30 18:09] Avery-Dunn commented on #305
Hello @PayalDodeja : A new version of ADAL, [1.6.7](https://github.com/AzureAD/azure-activedirectory-library-for-java/releases/tag/1.6.7), has just been released with version 9.4 of oauth2-oidc-sdk to address these issues (though it may take up to a few hours for Maven to show this version),

[2021-04-30 18:10] PayalDodeja commented on #305
thanks for the update @Avery-Dunn

[2021-07-12 14:54] #305 closed, assigned to Avery-Dunn

[2021-11-16 23:38] cheenamalhotra opened #309 "Vulnerability introduced by com.nimbusds:oauth2-oidc-sdk v9.4"
`com.nimbusds:oauth2-oidc-sdk v9.4` depends on `net.minidev » json-smart v1.3.3,2.4.2` which introduces below mentioned vulnerability.
https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/72dd774534adefa97c62289747b536ca12e6641c/pom.xml#L70-L74

### Vulnerability details
CVE-2021-31684

A vulnerability was discovered in the indexOf function of JSONParserByteArray in JSON Smart ve

[2021-12-07 19:43] g2vinay opened #310 "CVE Issue in ADAL4j's oauth2-oidc-sdk dependency"
The oauth2-oidc-sdk:9.4 being used by adal4j has the following [vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2021-31684) coming in from json-smart dependency.

The adal4j library needs to update the oauth2-oidc-sdk to version 9.20 (the latest) that has this CVE issue resolved.

This issue is impacting our customers.
Let us know as soon as the patch release is out with updated dependencies.

[2022-01-13 22:44] #310 closed, assigned to nobody

[2022-10-31 08:13] bishalatnirmata opened #318 "Dependency error due to jCenter() outage"
[code]

Getting this error while downloading the package as this package depends upon jcenter and jcenter has gone down.